<template>
  <div class='border-radius-10 h-min-200 m-3 px-5 pb-5 pt-3 flex flex-col bg-white' v-if='candidate' id="biodata">

        <span class='bold text-blue-dark font-size-20 
        border-t-0 border-l-0 border-r-0 border-b-2 border-dashed has-text-centered mb-3'>BIODATA</span>

        <div class='flex flex-col w-100pc'>

          

          <div class='mt-1'>
            <span class='bold w-50pc'>Tempat Membesar/ Asal</span><br/>
            <span  >{{ candidate.city_born}}, {{ candidate.state_born}}</span>
          
          </div>

          <!-- <div class='mt-1'>
            <span class='bold w-50pc'>Tempat Menetap</span><br/>
            <span  >{{ candidate.city_stay}}, {{ candidate.state_stay}}</span>
            
          </div> -->

          <div class='mt-1'>
            <span class='bold w-50pc'>Pekerjaan</span><br/>
            <span  >{{ candidate.occupation}}</span>
            
          </div>

          <div class='mt-1'>
            <span class='bold w-50pc'>Pendidikan</span><br/>
            <span  >{{ candidate.education}}</span>
            
          </div>


          <div class='mr-1'>
              <span class='bold w-50pc'>Tinggi</span><br/>
              <span  >{{ candidate.height}} cm</span>
              
          </div>

          <div>
              <span class='bold w-50pc'>Umur</span><br/>
              <span  >{{ candidate.age}}</span>
             
          </div>

          

         

          

        </div>


      </div>
</template>

<script>
export default {

  name: 'Biodata',
  props: ['candidate'],
}
</script>

<style lang="css" scoped>
</style>