<template>
<div class='flex flex-wrap items-center justify-center'>
  <div class='w-45pc h-auto box-shadow m-3 p-3 flex flex-col justify-center items-center' v-for='candidate in candidates' >

         
        <!-- IMAGE  -->
        <div class='flex flex-col items-center'>
            <img :src='candidate.avatar' class='h-max-100 border-radius-50'> 
            <p class='bold'>{{candidate.code}}</p>
            <span>{{ candidate.state_born}}</span>
            <span>{{ candidate.occupation}}</span>
            
        </div> 

        <!-- SUMMARY -->
        <div class='flex flex-col  p-3' style='border:2px dashed grey'>

            <div class='flex justify-center '>
                {{candidate.intro}}
            </div>
             <!-- personality -->
            <div class='flex flex-col justify-center'> 

                <div v-for='behavior in candidate.behavior_me' class='flex items-center'>
                  <img src='/img/checked.png' class='mr-2'>{{ behavior}}
                </div>

            </div>
        </div>   

        <div class=flex>

           <nuxt-link :to="`/candidates/${candidate.code}`" class='w-100 button bg-teal-dark text-white mt-2'>Profil</nuxt-link>
           <button class='w-100 button bg-teal-dark text-white mt-2'> Salam</button>
           <nuxt-link class='w-100 button bg-teal-dark text-white mt-2' to='/letters/create'> Surat</nuxt-link>

        </div>
       
            
  </div>
</div>
</template>

<script>
export default {

  name: 'CandidateCard',
  props: ['candidates'],
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>