<template>
<div class='h-400 w-300 m-3 flex flex-col flex-center shadow border-radius-10  p-5'>

    <!-- <img src='/svg/finish.svg' class='w-100'/> -->
    <p class='font-size-30 mb-0 bold text-white'>Opps!</p>
    <p class='font-size-16 text-white has-text-centered'>Tiada rekod</p>

</div>
</template>

<script>
export default {

  name: 'EmptyCard',

  data () {
    return {

    }
  },
  created(){
    this.$store.dispatch('candidates/FETCH_CANDIDATES_FRESH', {})
    this.$store.dispatch('bookmark/FETCH_CANDIDATES_FRESH', {})
  }
}
</script>

<style lang="css" scoped>
</style>