<template>
	<!-- KEGEMARAN -->
	<div class="bg-white border-radius-10 m-3 px-3 pb-3 pt-3 flex flex-col" v-if="candidate">
		<span
			class="bold text-blue-dark font-size-20 border-t-0 border-l-0 border-r-0 border-b-2 border-dashed has-text-centered mb-3"
		>MINAT</span>

		<div class="flex flex-col">
			<div class>
				<span v-for="hobby in candidate.hobby" class="tag m-1">
					<img src="/svg/circle-green.svg" class="mr-2 h-10" />
					{{ hobby}}
				</span>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "fav",
		props: ["candidate"],
		data() {
			return {};
		}
	};
</script>

<style lang="css" scoped>
</style>