<template>
	<div class="border-radius-10 m-3 px-4 pb-3 pt-3 flex flex-col bg-white" v-if="candidate">
		<span
			class="bold text-blue font-size-20 border-t-0 border-l-0 border-r-0 border-b-2 border-dashed has-text-centered mb-3"
		>PERSAMAAN DENGAN ANDA</span>

		<div class="flex flex-col w-100pc text-dark">
			<div class="mt-1" v-if="candidate.matching.is_want.items.length >0">
				<span class="bold w-50pc">Sifat Peribadi</span>
				<br />
				<span v-for="item in candidate.matching.is_want.items" class="tag m-1">
					<img src="/img/checked.png" class="mr-2 h-10" />
					{{ item}}
				</span>
			</div>

			<div class="mt-3" v-if="candidate.matching.hobby.items.length >0">
				<span class="bold w-50pc">Minat</span>
				<br />
				<span v-for="item in candidate.matching.hobby.items" class="tag m-1">
					<img src="/img/checked.png" class="mr-2 h-10" />
					{{ item}}
				</span>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Matching",
		props: ["candidate"]
	};
</script>

<style lang="css" scoped>
</style>