<template>
<modal name="flag" height="auto" :scrollable="true" width="400px" :adaptive='true' >
          <div class='h-min-200 p-5 has-text-centered flex flex-col flex-center'>

           <p class='bold'>Tindakan Terhadap Calon </p>

           <div class='flex mb-3 flex-center'>
             <div class='bg-pink-lighter mr-2 w-100 p-2 clickable bold'
             @click='showBlockForm=!showBlockForm'>
              <img src='/svg/stop.svg' class='h-50'> BLOCK
             </div>
             <div class='is-small has-text-left w-200'>Anda tidak lagi dapat lihat profil calon ini. Calon ini juga tidak lagi dapat melihat profil anda mahudan mesej anda</div>
          </div>

          <div v-if='showBlockForm' class='mb-3 w-100pc'>
             <span class='is-small bold'>Nyatakan sebab anda mahu blok calon ini</span>
             <textarea rows='1' class='textarea' v-model="blockReason">
            </textarea>
            <button class='button is-info w-100pc mt-2'
            @click='submitBlock()'>SUBMIT </button> 
          </div>


          <div class='flex mb-3 flex-center'>
             <div class='bg-red-dark text-white mr-2 w-100 clickable bold p-2'
             @click='showReport=!showReport'>
              <img src='/svg/bad.svg' class='h-50'> 
                REPORT 
             </div>
             <div class='is-small has-text-left w-200'>Kami akan menyiasat perlanggaran peraturan. Calon ini boleh dikenakan tindakan `banned` jika disabit kesalahan.</div>
          </div>

          <div v-if='showReport' class='w-100pc'>
             <span class='is-small bold'>Berikan maklumat lanjut sebab laporan ini</span>
             <textarea rows='1' class='textarea' v-model='reportReason'>

            </textarea>
            <button class='button is-info w-100pc mt-2'
            @click='submitReport()'>SUBMIT</button> 
          </div>

          </div>

</modal>
</template>

<script>
import {mapState} from 'vuex'
import ModalSuccess from '~/components/modals/Success'
export default {

  name: 'ModalFlag',
  data () {
    return {
      showBlockForm : false,
      showReport: false,

      blockReason: '',
      reportReason: '',
    }
  },
  computed: {
      ...mapState({
          candidate: state => state.candidates.candidate,
      })
  },
  methods:{

    submitBlock(){

      let params = { id : this.candidate.id , note : this.blockReason }

      this.$store.dispatch('candidate_manage/ACTION_BLOCK_CANDIDATE', params)
      .then((res) => {
        this.blockReason = ''
        this.$modal.hide('flag')
        

        this.$modal.show(ModalSuccess, 
          { note: "Berjaya", extra : "Anda tidak akan lagi melihat calon ini"},
          { height : "auto" , width : "400px" })
      })

    },

    submitReport(){

      let params = { id : this.candidate.id , note : this.reportReason }

      this.$store.dispatch('candidate_manage/ACTION_REPORT_CANDIDATE', params)
      .then((res) => {
        this.reportReason = ''
        this.$modal.hide('flag')

        this.$modal.show(ModalSuccess, 
         { note: "Berjaya Lapor", extra : "Terima Kasih atas laporan anda"},
         { height : "auto" , width : "400px" })
      })

    },
    
  }
}
</script>

<style lang="css" scoped>
</style>