<template>
	<div class="border-radius-10 bg-white m-3 px-3 pb-5 pt-3 flex flex-col" v-if="candidate">
		<span
			class="bold text-blue-dark font-size-20 border-t-0 border-l-0 border-r-0 border-b-2 border-dashed has-text-centered mb-3"
		>CIRI PASANGAN</span>

		<div class="flex justify-around">
			<div class>
				<!-- <span class='bold'>Sifat Dia</span> -->
				<div v-for="behavior in candidate.is_want" class="flex items-center">
					<img src="/img/checked.png" class="mr-2 h-10" />
					{{ behavior}}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Partner",
		props: ["candidate"],
		data() {
			return {};
		}
	};
</script>

<style lang="css" scoped>
</style>