<template>
  <!-- search bar -->
      <div class='w-300 h-max-500  p-4 bg-white flex flex-col text-black position-relative'>
              
            <!-- close button -->
            <div class='position-absolute bg-white bg-white p-1 border-radius-20 flex flex-center' 
                style='top:-10px; right:-10px; height: 40px; width: 40px; cursor: pointer'
                @click="$store.commit('candidates/TOGGLE_SHOW_SEARCH')"
                
                >
              <img src='/svg/close.svg' style='height: 30px; width: 30px'>
            </div>

            <div class='bold has-text-centered'>CARIAN CALON</div>
            <hr class='mt-0'>

            <label class='mt-0 bold is-small'>Negeri Lahir</label>
            <div class='select'>
            

              <select v-model='state_born' class='w-100pc'>
                  <option value=''>-</option>
                  <option v-for='state in malaysia_states'>{{state}}</option>
              </select>

            </div>

           <!--  <label class='bold is-small'>Negeri Menetap</label>
            <div class='select'>

            <select v-model='state_stay' class='w-100pc'>
                  <option value=''>-</option>
                  <option v-for='state in malaysia_states'>{{state}}</option>
              </select>
            </div> -->

            <!-- <label>Tahap Pendidikan</label>
            <div class='select'>
            <select class='w-100pc'>
                <option>Please select</option>
                <option v-for='edu in educations'>{{edu}}</option>
            </select>
            </div> -->

            <label class='bold is-small'>Sifat</label>
            <v-select  v-model="is_me" :options="goods" taggable multiple />
            <span class='is-small text-grey-dark'>Maksimum 3 Pilihan</span>


            <label class='bold is-small mt-3'>Pekerjaan</label>
            <!-- <input class='input' v-model='occupation' /> -->
            <!-- <div class='select'>
            <select v-model='occupation' class='w-100pc'>
                  <option value=''>-</option>
                  <option v-for='item in occupations'>{{item}}</option>
              </select>
            </div> -->
            <v-select  v-model="occupation" :options="occupations" taggable />

            <button class='bg-pink-dark text-white button mt-3' @click='searchCandidate()'>CARI</button>

      </div>
</template>

<script>
 import {mapState} from 'vuex'
export default {

  name: 'Search',

  data () {
    return {
      // for filter
      // state_born : '',
      // state_stay : '',
      // occupation : '',
      // behavior_me : '',

      // initial states
      educations : ['PMR','SPM','Diploma','Ijazah','Ijazah Sarjana','Master','PHD']
    }
  },
  computed: {
      ...mapState({
          show_search      : state => state.candidates.show_search,
          malaysia_states  : state => state.malaysia_states,
          goods            : state => state.lookup.good,
          occupations      : state => state.lookup.occupations,
          
      }),

      state_born: {
        get () {
          return this.$store.state.candidates.filter_state_born
        },
        set (value) {
          this.$store.commit('candidates/FILTER_STATE_BORN', value)
        }
      },

      state_stay: {
        get () {
          return this.$store.state.candidates.filter_state_stay
        },
        set (value) {
          this.$store.commit('candidates/FILTER_STATE_STAY', value)
        }
      },

      occupation: {
        get () {
          return this.$store.state.candidates.filter_occupation
        },
        set (value) {
          this.$store.commit('candidates/FILTER_OCCUPATION', value)
        }
      },


      is_me: {
        get () {
          return this.$store.state.candidates.filter_is_me
        },
        set (value) {
          this.$store.commit('candidates/FILTER_IS_ME', value.slice(0,3))
        }
      }
  },
  created(){
      this.$store.cache.dispatch('lookup/FETCH_GOOD')
      this.$store.cache.dispatch('lookup/FETCH_OCCUPATIONS')
  },
  methods: {

    searchCandidate(){

        let params = {
          state_born  : this.$store.state.candidates.filter_state_born,
          state_stay  : this.$store.state.candidates.filter_state_stay,
          occupation  : this.$store.state.candidates.filter_occupation,
          is_me       : this.$store.state.candidates.filter_is_me,
          page: 1,
        }
        
        this.$store.dispatch('candidates/FETCH_CANDIDATES_FRESH', params)
        this.$store.commit('candidates/TOGGLE_SHOW_SEARCH')
        this.$store.commit('candidates/SET_HIDE_DETAIL')
    }


  }

}
</script>

<style lang="css" scoped>
label{
  margin-top: 10px;
}
</style>