<template>
  <div class='flex mt-2  justify-center mb-2 w-100pc-mobile '>

            <a href='#' class='p-1 bold clickable has-text-centered bg-blue-dark text-white border-radius-10 w-400 w-90pc-mobile step-openbio' 
               @click="$store.commit('candidates/SET_SHOW_DETAIL')"
                v-if='!show_detail'>
              BIODATA PENUH
            </a>

            <div href='#' class='p-1 bold clickable has-text-centered bg-red-dark text-white border-radius-10 w-400 w-90pc-mobile' 
                @click="$store.commit('candidates/SET_HIDE_DETAIL')" v-if='show_detail'>
                TUTUP BIODATA
            </div>

         </div>
</template>

<script>
import {mapState} from 'vuex'

export default {

  name: 'ShowDetail',
  computed: {
      ...mapState({
          show_detail: state => state.candidates.show_detail,
      })
  }
}
</script>

<style lang="css" scoped>
</style>