<template>
	<div
		class="h-80vh w-400 h-70vh-mobile w-90pc-mobile mx-3 mt-3 flex flex-col justify-end items-center bg-size-cover bg-position-center text-white border-radius-10 position-relative"
		v-if="candidate"
		:style="{
      backgroundImage: `url(${candidate.avatar})`
    }"
		:class="[
      is_bookmark ? `animated slide-out-top ` : ``,
      is_bookmark_remove ? `animated roll-out-blurred-bottom` : ``
    ]"
	>
		<!-- back button -->

		<div v-if="$route.path == '/candidates' || $route.path == '/bookmarks'">
			<div
				class="position-absolute"
				style="bottom:20px; left:-10px"
				@click="prevCard()"
				v-if="candidates_arr_index != 0 || bookmarks_arr_index !== 0"
			>
				<img src="/img/back.png" style="height: 50px" />
			</div>

			<!-- next button -->
			<div class="position-absolute" style="bottom:20px; right:-10px" @click="nextCard()">
				<img src="/img/next.png" style="height: 50px" />
			</div>

			<!-- match score -->
			<div
				class="position-absolute flex flex-col items-end w-70 bg-white p-2 border-radius-bottom-left line-height-1 step-skor"
				style="top:0; right:0"
			>
				<span class="is-small has-text-right text-grey-dark">SKOR</span>
				<span class="bold font-size-30 text-black">
					{{
					candidate.matching.total_score
					}}
				</span>
			</div>
		</div>

		<!-- name and action button -->
		<div
			class="border-radius-10 flex flex-col justify-center items-center p-3 w-100pc"
			style="background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,0,0,0));"
		>
			<!--  NAME -->
			<div class="flex flex-col flex-center w-100pc line-height-1">
				<h2
					class="bold is-size-2 text-white mb-2"
					style="text-shadow: 2px 2px #000;"
				>{{ candidate.nickname }}</h2>
				<span
					class="font-size-12"
				>{{ candidate.age }}y | {{ candidate.city_born }} | {{ candidate.occupation }}</span>
				<!-- <span class='font-size-12'></span> -->
			</div>

			<!-- SUMMARY -->
			<div class="flex flex-col mt-1">
				<div class="flex justify-center p-3 is-small">{{ candidate.intro }}</div>
			</div>

			<!-- action button -->
			<div class="flex">
				<Bookmark :candidate="candidate" />

				<Salam :candidate="candidate" />

				<WriteLetter :candidate="candidate" />

				<OpenBio :candidate="candidate" />
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import Salam from "~/components/candidate_actions/Salam";
	import Bookmark from "~/components/candidate_actions/Bookmark";
	import OpenBio from "~/components/candidate_actions/OpenBio";
	import WriteLetter from "~/components/candidate_actions/WriteLetter";
	import Flag from "~/components/candidate_actions/Flag";

	export default {
		name: "SingleCandidateCard",
		components: { Salam, Bookmark, Flag, OpenBio, WriteLetter },
		computed: {
			...mapState({
				is_bookmark: state => state.candidate_manage.is_bookmark,
				is_bookmark_remove: state =>
					state.candidate_manage.is_bookmark_remove,
				is_card_appear: state => state.candidate_manage.is_card_appear,

				show_detail: state => state.candidates.show_detail,
				candidates_arr_index: state =>
					state.candidates.candidates_arr_index,

				bookmarks_arr_index: state => state.bookmark.candidates_arr_index
			})
		},
		props: ["candidate"],
		methods: {
			nextCard() {
				this.$store.commit("candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE");

				if (this.$route.path == "/candidates") {
					this.$store.commit("candidates/INCREMENT_CANDIDATES_ARR_INDEX");
				} else {
					this.$store.commit("bookmark/INCREMENT_CANDIDATES_ARR_INDEX");
				}
			},

			prevCard() {
				this.$store.commit("candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE");

				if (this.$route.path == "/candidates") {
					this.$store.commit("candidates/DECREMENT_CANDIDATES_ARR_INDEX");
				} else {
					this.$store.commit("bookmark/DECREMENT_CANDIDATES_ARR_INDEX");
				}
			}

			//end methods
		}
	};
</script>

<style lang="css">
	.text-shadow {
		text-shadow: 2px 2px #000;
	}
</style>
