<template>
</template>

<script>

// import 'shepherd.js/dist/css/shepherd.css'
import Shepherd from 'shepherd.js'

export default {

  name: 'Tour',

  created(){
    if(!process.server){
       this.appTour()
    }
   
  },
  methods:{

    appTour(){

      const tour =  new Shepherd.Tour({
        defaultStepOptions: {
          classes: 'bg-white border-radius-10 p-3 w-max-200 is-small'
        }
      });

      tour.addStep({
        text: 'Hi, admin nak tunjuk fungsi utama dalam portal ni. Klik next',
        buttons: [
          {
            text: 'Next',
            action: tour.next
          }
        ]
      });

      tour.addStep({
        text: 'Skor menunjukkan kadar keserasian anda dengan dia. Lagi tinggi skor, lagi bagus',
        attachTo: { 
          element: '.step-skor'
        },
        buttons: [
          {
            text: 'Next',
            action: tour.next
          }
        ]
      });

      tour.addStep({
        text: `<div class='flex flex-center'>
        <img src='/img/step-fav.png' class='h-40 mr-2'> 
        <span>Anda boleh bookmark calon sebagai 'calon pilihan'</span>
        </div>`,
        attachTo: { 
          element: '.step-bookmark',
        },
        buttons: [
          {
            text: 'Next',
            action: tour.next
          }
        ]
      });

      tour.addStep({
        text: `<div class='flex flex-center'>
        <img src='/img/step-salam.png' class='h-40 mr-2'> 
        <span>Hendak berkenalan? Mulakan dengan salam. 
        Jika beliau balas salam, anda boleh menghantar mesej/surat'</span>
        </div>`,
        attachTo: { 
          element: '.step-salam',
        },
        buttons: [
          {
            text: 'Next',
            action: tour.next
          }
        ]
      });

      /*tour.addStep({
        text: `<div class='flex flex-center'>
        <img src='/img/step-letter.png' class='h-40 mr-2'> 
        <span>Kalau berkenan, hantarlah surat kepada calon'</span>
        </div>`,
        attachTo: { 
          element: '.step-letter'
        },
        buttons: [
          {
            text: 'Next',
            action: tour.next
          }
        ]
      });*/

      tour.addStep({
        text: `<div class='flex flex-center'>
         <img src='/img/step-info.png' class='h-30 mr-2'> 
        <span>Nak tahu profil lanjut si dia? Klik icon ni</span>
        </div>`,
        attachTo: { 
          element: '.step-openbio'
        },
        buttons: [
          {
            text: 'Finished',
            action: tour.complete
          }
        ]
      })

      if(!localStorage.completeTour){
        tour.start()
      }
      
      tour.on('complete', () => this.completeTour())

      
    },

    completeTour(){
      localStorage.setItem("completeTour", true);
    }

  }
}
</script>

<style lang="css" >
  
  .shepherd-title{
    font-weight: bold;
  }

  .shepherd-button{
    background: #2779bd;
    color: white;
  } 

  .shepherd-modal-overlay-container{
    display: none;
  }

</style>