<template>

  <section class=' w-400 h-min-500 flex flex-col flex-center' 
  v-if='letter'
  
  > 
     <!-- readed letter by receipent or from sender  -->
    <div class='flex flex-col justify-start bg-size-cover letter p-5 position-relative h-min-500 w-400' 
      :style="{
            'backgroundImage' : `url(${letter.background})`
          }"
      v-if="letter.status=='read' || letter.user.id==profile.id"
     >

        <!-- back button -->
        <div class='position-absolute' style='top:45%; left:-10px' 
            @click='prevLetter()'  
            v-if='inbox_arr_index!=0'>
            <img src='/img/back.png' style='height: 30px'>
        </div>

        <!-- next button -->
        <div class='position-absolute' 
            style='top:45%; right:-10px' 
            @click='nextLetter()'
            >
            <img src='/img/next.png' style='height: 30px'>
        </div>


        <span class='font-size-20'>Kepada: <span class='bold'>{{ letter.candidate.nickname}} </span></span>
        <span class='font-size-20'>{{ letter.created_at_alt}}</span>

        <div class='has-text-centered  font-size-24 mt-3'>
            {{ letter.message}}
        </div>

    </div>


    <!-- if letter not read yet by receipent -->
    <div class='flex flex-col  bg-size-contain bg-position-center bg-repeat-no letter p-5 position-relative w-400 h-min-200' 
    :style="{
          'backgroundImage' : `url('/img/envelope.jpg')`,
          'cursor' : 'pointer',
        }"
    v-if="letter.status=='sent' &&  letter.candidate.id==profile.id"
    @click='readLetter(letter.id)'
    >

        <!-- back button -->
        <div class='position-absolute' style='top:45%; left:-10px' 
            @click='prevLetter()'  
            v-if='inbox_arr_index!=0'>
            <img src='/img/back.png' style='height: 30px'>
        </div>

        <!-- next button -->
        <div class='position-absolute' 
            style='top:45%; right:-10px' 
            @click='nextLetter()'
            >
            <img src='/img/next.png' style='height: 30px'>
        </div>


        <span class='font-size-20'>Kepada: <span class='bold'>{{ letter.candidate.nickname}} </span></span>
        <span class='font-size-20'>{{ letter.created_at_alt}}</span>

   </div>

   <div v-if="letter.status=='sent' &&  letter.candidate.id==profile.id" class='mt-2'>

        <!-- <button class='button is-link'>Baca Surat</button> -->
        <span class='is-small mt-3 text-white'>Klik envelope untuk baca surat</span>
   </div>





       
            
  </section>
</template>

<script>
// import Salam from '~/components/candidate_actions/Salam'
import {mapState} from 'vuex'
export default {

  name: 'Card',
  // components: { Salam, Bookmark},
  props : ['letter'],
  computed: {
    ...mapState({
      
        inbox_arr_index: state => state.letters.inbox_arr_index,
        profile        : state => state.auth.profile
    })
  },
  methods:{

    nextLetter(){
       this.$store.commit('letters/INCREMENT_INBOX_ARR_INDEX')
     },

     prevLetter(){
       this.$store.commit('letters/DECREMENT_INBOX_ARR_INDEX')
     },

     readLetter(id){
      this.$store.dispatch('letters/ACTION_READ_LETTER', id)
     }

  }
 

}
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.letter{
  font-family: 'Caveat', cursive;
}
</style>