<template>
  <section class='flex justify-center items-center-tablet items-center-mobile  flex-col-mobile flex-col-tablet h-min-80vh'>
  
      <!-- <VueSwing 
        @throwoutleft='throwoutleft'
        @throwout='throwoutleft'
        @throwin='throwoutright'
        @throwoutright='throwoutright' 
         v-if='candidates' > 

         <SingleCandidateCard :candidate='currentCandidate()' 
         />
         
          
      </VueSwing> -->

      <div class='flex justify-start flex-col w-100pc-mobile flex-center'>

        <SingleCandidateCard :candidate='currentCandidate()' class='show_desktop hide-mobile ' />

        <!-- dont show card if show detail in mobile -->
        <SingleCandidateCard :candidate='currentCandidate()' class='hide-desktop hide-tablet' :class="{ 'hide-mobile' : show_detail }" /> 
        
        <CloseBio />
         

       <!-- end card and biodata button -->
      </div>

      <EmptyCard v-if='candidates_arr_index == candidates_arr.length'/>

      <!-- extra info -->
      <div :class="show_detail ? `show animated fadeInUp` : `hide`" 
        class='w-30pc w-90pc-tablet w-100pc-mobile' v-if='candidates_arr_index != candidates_arr.length'>
        <Biodata :candidate='currentCandidate()' />
        <Favourite :candidate='currentCandidate()' />
      </div>

      <div :class="show_detail ? `show animated fadeInUp` : `hide`" class='w-30pc w-90pc-tablet  w-100pc-mobile' 
      v-if='candidates_arr_index != candidates_arr.length'>
         <Personality :candidate='currentCandidate()'/>
         <Partner :candidate='currentCandidate()'/>
          <Matching :candidate='currentCandidate()' />
         <button class='m-3 w-90pc button' @click="$modal.show('flag')" >BLOCK / REPORT</button>
      </div>

      <no-ssr>
        <ModalFlag/>
      </no-ssr>

      <no-ssr>
        <modals-container/>
      </no-ssr>
    

  </section>
</template>

<script>
import {mapState} from 'vuex'
import SingleCandidateCard from '~/components/candidates/SingleCandidateCard'
import EmptyCard from '~/components/candidates/EmptyCard'
import Biodata from '~/components/candidates/Biodata'
import Favourite from '~/components/candidates/Favourite'
import Partner from '~/components/candidates/Partner'
import Personality from '~/components/candidates/Personality'
// import VueSwing from 'vue-swing'
import ModalFlag from '~/components/candidates/ModalFlag'
import ShowDetail from '~/components/candidates/ShowDetail'
import Matching from '~/components/candidates/Matching'

import CloseBio from '~/components/candidate_actions/CloseBio'
export default {

  name: 'index',
  components : {  SingleCandidateCard, EmptyCard, Biodata, Favourite, Partner, Personality, ModalFlag, ShowDetail, Matching, CloseBio},
   middleware : 'authenticated',
  computed:{

    ...mapState({

          //current candidate 
         candidate                : state => state.candidates.candidate,

         candidates                : state => state.bookmark.candidates,
         candidates_arr            : state => state.bookmark.candidates_arr,
         candidates_arr_index      : state => state.bookmark.candidates_arr_index,

         show_detail               : state => state.candidates.show_detail,

         //candidate card state
         is_card_appear                 : state => state.candidate_manage.is_card_appear,

      })
  },
  mounted(){

    let params = { 
      page: 1
    }

   this.$store.dispatch('bookmark/FETCH_CANDIDATES_FRESH', params)

   console.log('load candidate')
   // console.log(this.candidates_arr[this.candidates_arr_index].candidate)
  },

  methods:{

    throwoutleft(){
      //console.log('left')
    },
     throwout(){
      //console.log('out')
    },

    currentCandidate(){

      this.$store.commit('candidate_manage/UPDATE_IS_CARD_APPEAR', true)

      //if got candidates in array card, return the candidate data with their index
      if(this.candidates_arr){

        return this.candidates_arr[this.candidates_arr_index]

      }
      
    },

    throwoutright(){
      this.$store.commit('candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE')
      this.$store.commit('bookmark/INCREMENT_CANDIDATES_ARR_INDEX')
    },
    throwin(){
      this.$store.commit('candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE')
     //increment the index array
       this.$store.commit('bookmark/INCREMENT_CANDIDATES_ARR_INDEX')
    },

    isEven(value) {
      if (value%10 == 0){return true } else{ return false }
    },

    appendMoreCards(){

          console.log("current page is "+this.candidates.current_page)
          //load more data
          //must create new object because we cannot mutate vuex outside mutation
          let current_page = this.candidates.current_page 
          let next_page = current_page +1
         

          let params = { 
            page: next_page
          }

          console.log("next page is " + next_page)

          this.$store.dispatch('bookmark/FETCH_CANDIDATES_APPEND', params)
    },

    userNotSubscribed(){

      //if not subscribed return true
      if(this.$store.state.auth.profile.subscribe===null){
        return true
      }
      return false

    },

  },


  watch: {

    candidates_arr_index(val){
      console.log("current value is " + val)

      //load more cards when data is 10, 20...
      if( this.isEven(val) == true ){

         this.appendMoreCards() 
         
      }

      //can only save favourite 5 , 
      if(val==5 && this.userNotSubscribed() ){

        console.log('val dah 5 and tak bayar lagi')
         this.$store.dispatch('bookmark/FETCH_CANDIDATES_FRESH', {})
         this.$router.push('/promo/upgrade')
          
       }
    }

  





  }
}
</script>

<style lang="css" scoped>


</style>