/////// ANIMATIONS ///////

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(110%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp2 {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeInUp2 {
  animation-name: fadeInUp2;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;


  &.infinite {
    animation-iteration-count: infinite;
  }

  &.delay-02s {
    animation-delay: 0.2s;
  }

  &.delay-05s {
    animation-delay: 0.5s;
  }

  &.delay-07s {
    animation-delay: 0.7s;
  }  

  &.delay-1s {
    animation-delay: 1s;
  }

  &.delay-1-2s {
    animation-delay: 1.2s;
  }

  &.delay-2s {
    animation-delay: 2s;
  }

  &.delay-3s {
    animation-delay: 3s;
  }

  &.delay-4s {
    animation-delay: 4s;
  }

  &.delay-5s {
    animation-delay: 5s;
  }

  &.fast {
    animation-duration: 800ms;
  }

  &.faster {
    animation-duration: 500ms;
  }

  &.slow {
    animation-duration: 2s;
  }

  &.slower {
    animation-duration: 3s;
  }

}


@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}


/******************************************************************************
 *
 * ENTRANCE ANIMATION
* Generated by Animista on 2019-7-21 7:9:52
 */


.slide-in-blurred-right {
  animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
/* ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}





/******************************************************************************
 *
 * EXITS ANIMATION
* Generated by Animista on 2019-7-21 7:9:52
 */

.slide-out-elliptic-bottom-bck {
    animation: slide-out-elliptic-bottom-bck 0.7s ease-in both;
}

@keyframes slide-out-elliptic-bottom-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(600px) rotateX(30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}


.slide-out-blurred-left {
    animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}


/**
 * ----------------------------------------
 * animation slide-out-elliptic-top-bck
 * ----------------------------------------
 */
.slide-out-elliptic-top-bck {
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
.slide-out-top {
  animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}



/**
 * ----------------------------------------
 * animation fade-out-bck
 * ----------------------------------------
 */
.fade-out-bck {
  animation: fade-out-bck 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes fade-out-bck {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-80px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-blurred-bottom
 * ----------------------------------------
 */
.roll-out-blurred-bottom {
  animation: roll-out-blurred-bottom 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
@keyframes roll-out-blurred-bottom {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(800px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation roll-out-blurred-top
 * ----------------------------------------
 */
.roll-out-blurred-top {
  animation: roll-out-blurred-top 0.6s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
@keyframes roll-out-blurred-top {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation swirl-out-bck
 * ----------------------------------------
 */
.swirl-out-bck {
  animation: swirl-out-bck 0.6s ease-in both;
}
@keyframes swirl-out-bck {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}






/**
 *
 * ATTENTION ANIMA
 *
 */


.bounce-top {
          animation: bounce-top 0.9s both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
            transform: translateY(-24px);
            animation-timing-function: ease-in;
  }
  65% {
            transform: translateY(-12px);
            animation-timing-function: ease-in;
  }
  82% {
            transform: translateY(-6px);
            animation-timing-function: ease-in;
  }
  93% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
  }
  25%,55%,75%,87% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}


.pulsate-fwd {
  animation: pulsate-fwd 2s ease-in-out infinite both;
}
/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}










