
nuxt-link,a {
  color: white;
}


.navbar{
    position: fixed !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 5px 10px 18px #888888;
    z-index:100 !important;
}


.navbar-item {
  transition: 0.1s ease-in-out;
  margin-left: 0.7rem;
  letter-spacing: -0.5px;
  font-weight: 400;
  &:hover {
    // border-bottom: inset;
    background-color: transparent !important;
  }
}

.navbar-brand .navbar-item {
  margin-left: 0rem;
}


/**
 *
 * SEARCH JOB BLOCK
 *
 */


.navbar-right{
  position:fixed;
  right: 0;
  top:0;
  width: 100px;
  height: 52px;
  box-shadow: 5px 10px 18px #888888;
  z-index: 100;
  background-color: #363636;
}

.search_window{
  position:absolute;
  top: 50px;
  color: white;
  height: auto;
  right:0;
  background-color: #4a4a4a;
  z-index: 99;
  width: 400px;
  &.active{
    display: flex;
    flex-wrap: wrap;
  
  }
  &.close{
    display: none;
  }  
  @include xs{
    width: 100%;
  }
}

// ICON 
.icon.search_job{
  
  position: absolute; 
  top:13px;
  right:70px;
  display: none;
  color: white;

  @include xs{
    display: block;
  }
}