<template>
   <div style='position: fixed; bottom: 200px; left:40%; z-index: 999'>
      <img src='/svg/loading.svg' >
  </div>
</template>

<script>
export default {
  name: 'Loader',
}
</script>

<style lang="css" scoped>
</style>