<template>
  <div class='bg-white border-radius-10 h-min-200 m-3 px-5 pb-5 pt-3 flex flex-col bg-white animated fadeInUp slow position-relative z-index-10'>

        <div class='flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 
             border-dashed  mb-3 '>
             <span class='bold  font-size-20 '> AKAUN ANDA </span> 
             <!-- <div class='button bg-grey is-small'>
                <img src='/svg/edit.svg' class='h-20 mr-2'> EDIT
             </div> -->
        </div>

        <div class='flex flex-col has-text-centered mb-3'>
             
            
            <div class='flex flex-col items-center' v-if='profile.subscribe == null '>
                <div class='button bg-white text-blue bold w-80pc'>
                  <img src='/svg/basic.svg' class='h-50 mr-2 '>  Akaun Biasa 
                </div>

            </div>
          
            
            <div class='flex flex-col items-center' v-if='profile.subscribe != null '>
                <div class='button bg-white text-orange bold w-80pc'>
                  <img src='/svg/premium.svg' class='h-50 mr-2 '>  Akaun Premium 
                </div>
                <div class='text-grey-darkest w-80pc mt-1 is-small'>Luput : {{ expired_at_alt }}</div>
            </div>


       
         </div>

          <span class='w-100pc has-text-left m-1 clickable' 
           @click="$router.push('/auth/change_password')" v-if='$store.state.auth.email_auth'>
            <img src='/svg/key.svg' class='h-20 mr-2' > Tukar Kata Laluan
          </span>

          <span class='w-100pc   text-red m-1 clickable' 
          @click="deactivate()" v-if="profile.is_active">
            <img src='/svg/deactivate.svg' class='h-20 mr-2' >Sembunyi Profil
          </span>

          <span v-if="!profile.is_active" class='is-small mt-2 text-red has-text-centered clickable'>
              Akaun anda tidak dapat dilihat oleh calon lain. Sila aktifkan semula </span>
          <span class='w-100pc button text-blue m-1 clickable' 
          @click="reactivate()" v-if="!profile.is_active">
            <img src='/svg/visible.svg' class='h-20 mr-2' >Aktifkan Semula Profil
          </span>

          <button class='w-100pc button bg-red text-white m-1' @click="logout()"
          v-if='$store.state.auth.email_auth'>LOGOUT</button>

          <v-facebook-login app-id="631595470709623" 
             @logout='logout()' class='w-100pc ' v-if='$store.state.auth.social_auth'>     
          </v-facebook-login>


          <!-- <button class='button' @click="$router.push('/')">index </button> -->



    </div>
</template>

<script>
import {mapState} from 'vuex'
import ModalAccount from '~/components/profile/ModalAccount'
import ModalChangePassword from '~/components/profile/ModalChangePassword'
import ModalAlert from '~/components/helpers/ModalAlert'
import { format,parse } from 'date-fns'


export default {

  name: 'Account',
  components: { ModalAccount,ModalAlert,ModalChangePassword},
  computed: {
      ...mapState({
          profile: state => state.auth.profile,
      }),

      expired_at_alt(){
        if(this.profile.subscribe != null){
          return format(new Date(this.profile.subscribe.expired_at),'dd MMM yyyy')
        }
        
      }
  },
  methods:{

    deactivate(){
      this.$modal.show(ModalAccount,{

         },{
         height : "auto" ,
          width : "400px" ,
          adaptive : true 
      
      })


    },


    reactivate(){
      
       this.$store.dispatch('auth/ACTION_UPDATE_PROFILE', { is_active : true})
      .then(res => {
      
        this.$modal.show(ModalAlert,{
          note: 'Akaun Diaktifkan Semula', extra: 'Misi jodoh bersambung..'
        },{
          height : "auto" ,
          width : "400px" ,
          adaptive : true 
        })

        this.$emit('close')
      })
    },

    // changePassword(){

    //   this.$modal.show(ModalChangePassword)

    // },

    logout(){

        this.$store.dispatch('auth/LOGOUT')
        .then(res => this.$router.push('/'))
    },

  }
}
</script>

<style lang="css" scoped>
</style>