<template>
	<div
		class="bg-white border-radius-10 h-min-200 m-3 px-5 pb-5 pt-3 flex flex-col animated fadeInUp slow position-relative"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed mb-3"
		>
			<span class="bold font-size-20">BIODATA</span>
			<div class="button is-small" @click="editBiodata = !editBiodata" v-if="!editBiodata">
				<img src="/svg/edit.svg" class="h-20 mr-2" /> EDIT
			</div>

			<div class="button is-small" v-if="editBiodata" @click="editBiodata = !editBiodata">
				<img src="/svg/close.svg" class="h-20 mr-2" /> CANCEL
			</div>
		</div>

		<div class="flex flex-col w-100pc">
			<div class="mt-1">
				<span class="bold w-50pc">Nama Samaran</span>
				<br />
				<span v-if="!editBiodata">{{ profile.nickname }}</span>
				<input class="input" v-model="nickname" v-else />
			</div>

			<!-- <div class='mt-1'>
            <span class='bold w-50pc'>Nama Penuh (tidak dipaparkan)</span><br/>
            <span  v-if='!editBiodata'>{{ profile.name}}</span>
            <input class='input' v-model='name' v-else>
			</div>-->

			<div class="mt-1">
				<span class="bold w-50pc">Bandar Lahir/ Membesar</span>
				<br />
				<span v-if="!editBiodata">{{ profile.city_born }}</span>
				<div class="flex w-100pc" v-else>
					<!-- <input id="address-input"  class='input' v-model='city_born' type="search" /> -->

					<places
						class="input"
						v-model="city_born"
						:options="{ type: 'city' }"
						placeholder="Pilih nama bandar"
						@change="val => (city_born = val)"
					></places>
				</div>
			</div>

			<div class="mt-1">
				<span class="bold w-50pc">Pekerjaan</span>
				<br />
				<span v-if="!editBiodata">{{ profile.occupation }}</span>
				<!-- <input class='input' v-model='occupation' v-else> -->
				<v-select v-model="occupation" :options="occupations" taggable v-else />
			</div>

			<div class="mt-1">
				<span class="bold w-50pc">Pendidikan</span>
				<br />
				<span v-if="!editBiodata">{{ profile.education }}</span>
				<input class="input" v-model="education" v-else />
			</div>

			<div class="mt-1 flex justify-between">
				<div class="mr-1">
					<span class="bold w-50pc">Tinggi</span>
					<br />
					<span v-if="!editBiodata">{{ profile.height }} cm</span>
					<input class="input" v-model="height" v-else />
				</div>

				<div>
					<span class="bold w-50pc">Tarikh Lahir</span>
					<br />
					<span v-if="!editBiodata">{{ profile.birthdate }}</span>
					<input class="input" type="date" min="1986-01-01" v-model="birthdate" v-else />
				</div>
			</div>

			<div class="mt-1">
				<span class="bold w-50pc">Intro Diri</span>
				<br />
				<span v-if="!editBiodata">{{ profile.intro }}</span>
				<textarea class="textarea" maxlength="100" v-model="intro" v-else>{{
          profile.intro | truncate(150)
        }}</textarea>
				<span class="is-small" v-if="editBiodata">Had 100 patah perkataan</span>
			</div>

			<button class="button is-info mt-2" v-if="editBiodata" @click="updateProfile()">UPDATE</button>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import Places from "vue-places";

	export default {
		name: "Biodata",
		data() {
			return {
				editBiodata: false
			};
		},
		components: {
			Places
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				malaysia_states: state => state.malaysia_states,
				occupations: state => state.lookup.occupations
			}),

			nickname: {
				get() {
					return this.profile.nickname;
				},
				set(val) {
					this.$store.commit("auth/SET_nickname", val);
				}
			},
			// name : {
			//   get(){
			//     return this.profile.name
			//   },
			//   set(val){
			//     this.$store.commit('auth/SET_name', val)
			//   }

			// },

			city_born: {
				get() {
					return this.profile.city_born;
				},
				set(val) {
					this.$store.commit("auth/SET_city_born", val);
				}
			},
			occupation: {
				get() {
					return this.profile.occupation;
				},
				set(val) {
					this.$store.commit("auth/SET_occupation", val);
				}
			},
			education: {
				get() {
					return this.profile.education;
				},
				set(val) {
					this.$store.commit("auth/SET_education", val);
				}
			},
			height: {
				get() {
					return this.profile.height;
				},
				set(val) {
					this.$store.commit("auth/SET_height", val);
				}
			},
			birthdate: {
				get() {
					return this.profile.birthdate;
				},
				set(val) {
					this.$store.commit("auth/SET_birthdate", val);
				}
			},
			intro: {
				get() {
					return this.profile.intro;
				},
				set(val) {
					this.$store.commit("auth/SET_intro", val);
				}
			}
		},
		created() {
			this.$store.dispatch("lookup/FETCH_OCCUPATIONS");
		},
		methods: {
			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(() => (this.editBiodata = false));
			}
		}
	};
</script>

<style lang="css">
	.ap-dropdown-menu.ap-with-places {
		display: contents !important;
	}
</style>
