<template>
	<div
		class="h-500 w-400 h-70vh-mobile w-90pc-mobile m-3 flex flex-col justify-end items-center bg-size-cover bg-position-top-center text-white border-radius-10 animated fadeInUp slow"
		v-if="profile"
		:style="{
          'backgroundImage' :  
          `url(${profile.avatar})`
        }"
	>
		<Loader v-if="isLoading" />

		<!-- <span class='tag bg-yellow'>PREVIEW</span> -->

		<div
			class="border-radius-10 flex flex-col w-100pc justify-center items-center p-3"
			style="background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,0,0,0));"
		>
			<!--  NAME -->
			<div class="flex flex-col flex-center w-100pc has-text-centered">
				<h2 class="bold is-size-2 text-white" style="text-shadow: 2px 2px #000;">{{profile.nickname}}</h2>
				<span class="font-size-12">{{ profile.city_born}} | {{ profile.occupation}}</span>
			</div>

			<!-- SUMMARY -->
			<div class="flex flex-col mt-1">
				<div class="flex justify-center p-3">{{profile.intro | truncate(150) }}</div>
			</div>

			<!-- action button -->
			<div class="flex flex-col">
				<button class="w-100pc button is-link has-text-left my-2" @click="formImage=!formImage">
					<img src="/svg/user.svg" class="h-20 mr-2" />
					<span>Tukar Gambar</span>
				</button>

				<div v-if="formImage" class="flex">
					<input
						type="file"
						name="avatar"
						class="input file mr-1"
						ref="avatar"
						v-on:change="handleFileUpload()"
					/>
					<button class="button is-link" @click="updateAvatar()">Upload</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Loader from "~/components/helpers/Loader";
	import ModalAlert from "~/components/helpers/ModalAlert";

	export default {
		name: "Card",
		components: {
			Loader,
			ModalAlert
		},
		data() {
			return {
				formImage: false,
				isLoading: false,
				avatar: ""
			};
		},
		props: ["profile"],
		methods: {
			/*
	      Handles a change on the file upload
	    */
			handleFileUpload() {
				this.avatar = this.$refs.avatar.files[0];
			},

			updateAvatar() {
				this.isLoading = true;

				this.$store
					.dispatch("auth/ACTION_UPDATE_AVATAR", this.avatar)
					.then(res => {
						this.formImage = false;
						return res;
					})
					.then(res =>
						this.$store.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					)
					.catch(err => {
						//console.log(err)
						// this.$swal('Error', err, 'error')
						this.$modal.show(
							ModalAlert,
							{ note: "Error", status: "error", extra: err },
							{
								height: "auto",
								width: "400px",
								adaptive: true
							}
						);
					})
					.finally(() => (this.isLoading = false));
			}
		}
	};
</script>

<style lang="css" scoped>
</style>