<template>
      <div class=' bg-black text-white p-3 m-2 border-radius-10 has-text-centered flex flex-center flex-col' 
      v-if='!profile.is_email_verified'>

        <span class='bold mr-2'>Akaun anda masih belum disahkan. Anda mungkin tidak dapat mesej dari calon. 
           
        </span>

         <button class='button is-danger' @click='resendEmail()' v-if='!submit'>Resend Email Verification</button>

         <div v-if="status!=''" class='text-yellow'>{{status}}</div>
    
      </div>
</template>

<script>
export default {

  name: 'Check',
  props : ['profile'],
  data(){
    return{
      status : '',
      submit : false
    }
  },
  methods:{

    resendEmail(){

      this.$store.dispatch('auth/RESEND_VERIFICATION')
      .then((res) => { this.status = res.data.message})
      .catch((err) => this.status = err)
      .finally(()=> this.submit = true)
    }
  }
}
</script>

<style lang="css" scoped>
</style>