<template>
      <div class=' bg-grey-light text-black p-3 m-2 border-radius-10 has-text-centered' 
      v-if='!profile.is_profile_completed'>
        <span class='bold'> Profil anda perlu lengkap untuk melihat senarai calon-calon </span>

        <div class='flex flex-center flex-wrap'>

            <div class='is-small flex mr-2'>
               <img src='/img/checked.png' class='h-20 mr-1' v-if='profile.avatar'>
               <img src='/svg/error.svg' class='h-20 mr-1' v-else>
               <span> Gambar</span>
            </div>

            <div class='is-small flex mr-2'>
               <img src='/img/checked.png' class='h-20 mr-1' v-if='profile.is_profile_biodata_completed'>
               <img src='/svg/error.svg' class='h-20 mr-1' v-else>
               <span> Biodata</span>
            </div>

            <div class='is-small flex mr-2'>
               <img src='/img/checked.png' class='h-20 mr-1' v-if='profile.is_profile_favourites_completed'>
               <img src='/svg/error.svg' class='h-20 mr-1' v-else>
               <span> Kegemaran</span>
            </div>

            <div class='is-small flex mr-2'>
               <img src='/img/checked.png' class='h-20 mr-1' v-if='profile.is_profile_about_me_completed'>
               <img src='/svg/error.svg' class='h-20 mr-1' v-else>
               <span> Personaliti</span>
            </div>

            <div class='is-small flex mr-2'>
               <img src='/img/checked.png' class='h-20 mr-1' v-if='profile.is_profile_about_candidate_completed'>
               <img src='/svg/error.svg' class='h-20 mr-1' v-else>
               <span> Pasangan</span>
            </div>

        </div>
      </div>
</template>

<script>
import {mapState} from 'vuex'

export default {

  name: 'Completion',
  props : ['profile'],
  // computed: {
  //     ...mapState({
  //         profile: state => state.auth.profile,
  //     })
  // }
}
</script>

<style lang="css" scoped>
</style>