<template>
	<div
		class="h-min-200 bg-white border-radius-10 m-3 px-5 pb-5 pt-3 flex flex-col animated fadeInUp slow position-relative z-index-20"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed mb-3"
		>
			<span class="bold font-size-20">MINAT</span>
			<div class="button is-small" @click="editBiodata = !editBiodata" v-if="!editBiodata">
				<img src="/svg/edit.svg" class="h-20 mr-2" /> EDIT
			</div>

			<div class="button is-small" v-if="editBiodata" @click="editBiodata = !editBiodata">
				<img src="/svg/close.svg" class="h-20 mr-2" /> CANCEL
			</div>
		</div>

		<div class="flex flex-col">
			<div class>
				<span
					class="help is-danger"
					v-if="!$v.profile.hobby.required && submitStatus "
				>This field is required</span>
				<span
					class="help is-danger"
					v-if="!$v.profile.hobby.maxLength && submitStatus "
				>Maximum 10 interest only</span>

				<!-- <span v-for="hobby in profile.hobby" v-if="!editBiodata" class="tag m-1" :key="hobby">{{ hobby}}</span>

				<v-select v-if="editBiodata" multiple v-model="hobby" :options="options_hobby" />-->

				<div class="flex flex-wrap mb-2">
					<div v-for="hobby_item in options_hobby" :key="hobby_item">
						<input type="checkbox" chipstyle="yes" :id="hobby_item" :value="hobby_item" v-model="hobby" />
						<label :for="hobby_item">{{ hobby_item }}</label>
					</div>
				</div>

        
			</div>

			<button class="button is-info mt-2" @click="checkForm()">UPDATE</button>
		</div>
	</div>
</template>


<script>
	import { mapState } from "vuex";
	import { required, maxLength } from "vuelidate/lib/validators";

	export default {
		name: "Fav",
		data() {
			return {
				editBiodata: false,
				submitStatus: false
			};
		},

		validations: {
			profile: {
				hobby: {
					required,
					maxLength: maxLength(10)
				}
			}
		},

		computed: {
			...mapState({
				profile: state => state.auth.profile,
				options_hobby: state => state.lookup.hobbies
			}),

			hobby: {
				get() {
					return this.profile.hobby ? this.profile.hobby : [];
				},
				set(val) {
					this.$store.commit("auth/SET_hobby", val);
				}
			}
		},
		methods: {
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},

			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(() => {
						this.editBiodata = false;
						this.$toast.success("Interest updated").goAway(1500);
					});
			}
		}
	};
</script>