<template>
  <div class='bg-white border-radius-10 m-3 p-3 flex flex-col animated fadeInUp slow position-relative w-500 w-100pc-mobile'>

        <div class='flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 
             border-dashed mb-1 '>
             <span class='bold  font-size-20 '> Intro </span> 
             <div class='button is-small' @click='editBiodata = !editBiodata' v-if='!editBiodata'>
                <img src='/svg/edit.svg' class='h-20 mr-2'> EDIT
            </div>
            
           <!--  <div class='button is-small' v-if='editBiodata' @click='editBiodata = !editBiodata'>
                <img src='/svg/close.svg' class='h-20 mr-2'> CANCEL
            </div> -->
        </div>


        <div class='flex flex-col w-100pc'>

          <div class='is-small pb-3'> Ceritakan sedikit  tentang diri anda</div>

            <span  v-if='!editBiodata' >{{ profile.intro}} </span>
             <textarea class='textarea' rows='2' maxlength="100" v-model='intro' v-else>{{ profile.intro | truncate(150)}}</textarea>

             <span class='is-small' v-if='editBiodata' >Had 100 patah perkataan</span>

          <button class='button is-info mt-2' v-if='editBiodata' @click='updateProfile()'>NEXT</button>

        </div>

        
  </div>

</template>

<script>
import {mapState} from 'vuex'
export default {

  name: 'Biodata',
  data(){
    return{
       editBiodata : true,
    }
  },
  computed:{

    ...mapState({

         profile            : state => state.auth.profile,
         
         
      }),

   
    intro : {
      get(){
        return this.profile.intro
      },
      set(val){
        this.$store.commit('auth/SET_intro', val)
      }

    }


  },
  methods:{

      updateProfile(){

        this.$store.dispatch('auth/ACTION_UPDATE_PROFILE', this.profile)
        .then( () => this.editBiodata = false)
      }
  }
}
</script>

<style lang="css" scoped>
</style>