<template>

      <div class='h-min-200 p-5  flex flex-col flex-center animated fadeInUp'>


      <img src='/svg/warning-orange.svg' class='h-50 has-text-centered'>
      <p class='bold has-text-centered'>Tukar Kata Laluan</p>

      
      <span class='is-small has-text-left'>Kata Laluan Baru</span>
      <input type='password' class='input' v-model='password' placeholder="kata laluan baru">

      <span class='is-small has-text-left mt-2'>Taip Semula Kata Laluan Baru</span>
      <input type='password' class='input ' v-model='confirm_password' placeholder="tapi semula kata laluan baru ">
        
      <div class='flex'>
        <button class='button bg-red text-white m-2' @click='confirm()'>Confirm</button>
        <button class='button m-2' @click="$emit('close')">Cancel</button>
      </div>

      </div>

</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'ModalChangePassword',
  components : { ModalAlert},
  data(){
    return {
      password : '',
      confirm_password :''
    }
  },
  methods:{

    confirm(){
      let data = { password : this.password, confirm_password : this.confirm_password}

      this.$store.dispatch('auth/CHANGE_PASSWORD', data)
      .then(res => {
  
        this.$modal.show(ModalAlert,{
          status: 'success', note: 'Kata Laluan Ditukar', extra: 'Sila login semula'
        })

        //after change password , logout
        this.$store.dispatch('auth/LOGOUT',{})
        this.$router.push('/')
        this.$emit('close')
      })
      .catch(err =>{

        this.$modal.show(ModalAlert,{
          status : 'error', note: 'Tidak Berjaya', extra: err
        })

        this.$emit('close')
      })


    }
  }
}
</script>

<style lang="css" scoped>
</style>