<template>

      <div class='w-400 h-min-200 p-5 has-text-centered flex flex-col flex-center animated fadeInUp '>


        <img src='/svg/warning-orange.svg' class='h-100'>

      <p class='bold'>Adakah anda pasti untuk 'Sembunyi Profil' ? </p>
      <span class='is-small'>
         Profil anda tidak akan dipaparkan kepada orang lain, serta fungsi carian calon. 
         Serta anda tidak dapat mencari calon lain
      </span>

        <!-- <img src='/svg/success.svg' class='h-100' v-if="status=='success'">
        <img src='/svg/warning-orange.svg' class='h-100' v-else-if="status=='warning'">
        <img src='/svg/close.svg' class='h-100' v-else> -->
        <!-- <p class='bold'> Success</p> -->
        
        <div class='flex'>
          <button class='button bg-red text-white m-2' @click='confirm()'>PASTI</button>
          <button class='button m-2' @click="$emit('close')">Cancel</button>
        </div>

      </div>

</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'ModalAccount',
  components : { ModalAlert},
  //props : [ 'note', 'extra']
  props : {
    note : {
      type : String,
      default : 'Berjaya '
    },
    extra : {
      // type : String,
      default : ''
    },
    status :{
      type : String,
      default : 'success'
    }
  },
  methods:{

    confirm(){

      this.$store.dispatch('auth/ACTION_UPDATE_PROFILE', { is_active : false})
      .then(res => {
        console.log(res)

        this.$modal.show(ModalAlert,{
          note: 'Profile Deactivated', extra: 'Anda boleh aktifkan semula profil bila bila masa'
        },{
          height : "auto" ,
          width : "400px" ,
          adaptive : true 
        })


        this.$emit('close')
      })


    }
  }
}
</script>

<style lang="css" scoped>
</style>