<template>
  <!-- CIRI PASANGAN -->
  <div
    class="bg-white border-radius-10 h-min-200 m-3 px-5 pb-5 pt-3 flex flex-col animated fadeInUp slow position-relative z-index-20"
  >
    <div
      class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 
             border-dashed  mb-3 "
    >
      <span class="bold  font-size-20 "> CIRI PASANGAN </span>
    </div>

    <div class="flex flex-col">
      <div class="">
        <span class="help is-danger" v-if="!$v.is_want.required && submitStatus"
          >This field is required</span
        >
        <span
          class="help is-danger"
          v-if="!$v.is_want.minLength && submitStatus"
          >Choose minimum 5 behavior</span
        >

        <div class="flex flex-wrap mb-2">
          <div v-for="candidate_behavior in options_behavior">
            <input
              type="checkbox"
              chipstyle="yes"
              :id="candidate_behavior + '2'"
              :value="candidate_behavior"
              v-model="is_want"
            />
            <label :for="candidate_behavior + '2'">
              {{ candidate_behavior }}</label
            >
          </div>
        </div>
      </div>

      <button class="button is-info mt-2" @click="checkForm()">
        UPDATE
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "PersonalityCandidate",
  data() {
    return {
      editBiodata: false,
      submitStatus: false
    };
  },
  validations: {
    is_want: {
      required,
      minLength: minLength(5)
    }
  },
  computed: {
    ...mapState({
      profile: state => state.auth.profile,
      options_behavior: state => state.lookup.good,
      options_badbehavior: state => state.lookup.bad
    }),

    is_want: {
      get() {
        return this.profile.is_want;
      },
      set(val) {
        this.$store.commit("auth/SET_is_want", val);
      }
    }
  },
  methods: {
    checkForm() {
      if (this.$v.$invalid) {
        this.submitStatus = true;
      } else {
        this.submitStatus = false;
        this.updateProfile();
      }
    },
    updateProfile() {
      this.$store
        .dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
        .then(() => {
          this.editBiodata = false;
          this.$toast.success("Ciri Pasangan Dikemaskini").goAway(1500);
        });
    }
  }
};
</script>
