<template>
	<div
		class="bg-white border-radius-10 h-min-200 m-3 px-5 pb-5 pt-3 flex flex-col bg-white animated fadeInUp slow position-relative z-index-30"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed mb-3"
		>
			<span class="bold font-size-20">PERSONALITI</span>
		</div>

		<span class="help is-danger" v-if="!$v.is_me.required && submitStatus">This field is required</span>
		<span class="help is-danger" v-if="!$v.is_me.minLength && submitStatus">Choose minimum 5 behavior</span>
		<span class="help is-danger" v-if="!$v.is_me.maxLength && submitStatus">Choose maximum 10 behavior</span>

		<div class="flex flex-wrap mb-2">
			<div v-for="behavior in options_behavior" :key="behavior">
				<input type="checkbox" chipstyle="yes" :id="behavior" :value="behavior" v-model="is_me" />
				<label :for="behavior">{{ behavior }}</label>
			</div>
		</div>

		<button class="button is-info mt-2" @click="checkForm()">UPDATE PERSONALITI</button>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import { required, minLength, maxLength } from "vuelidate/lib/validators";

	export default {
		name: "Personalitu",
		data() {
			return {
				submitStatus: false,
				editBiodata: false
			};
		},

		validations: {
			is_me: {
				required,
				minLength: minLength(5),
				maxLength: maxLength(10)
			}
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				options_behavior: state => state.lookup.good,
				options_badbehavior: state => state.lookup.bad
			}),

			is_me: {
				get() {
					return this.profile.is_me;
				},
				set(val) {
					this.$store.commit("auth/SET_is_me", val);
				}
			}
		},
		methods: {
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},

			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(() => {
						this.editBiodata = false;
						this.$toast.success("Personality updated").goAway(1500);
					});
			}
		}
	};
</script>

