<template>
  <div class='bg-white border-radius-10 h-min-100 m-3 p-3 flex flex-center bg-orange fadeInUp slow position-relative z-index-10' v-if=" profile.subscribe == null && profile.use_trial == 1">

         
          <img src='/svg/rocket.svg' class='h-50 mr-3 animated pulsate-fwd fast'>

          <div class='flex flex-col'>
            
            <span class='text-white'>Naik Taraf ke Akaun Premium </span>
            <span class='text-black is-small'>PROMO: DISKAUN Sehingga <span class='bold'>40%</span>  </span>
            <nuxt-link to='/promo/upgrade' class='button is-link animated pulsate-fwd '>
              Klik Sini
          </nuxt-link>
            
          </div> 

      
    </div>
</template>

<script>
import {mapState} from 'vuex'
import ModalAccount from '~/components/profile/ModalAccount'
import ModalChangePassword from '~/components/profile/ModalChangePassword'
import ModalAlert from '~/components/helpers/ModalAlert'
import { format,parse } from 'date-fns'


export default {

  name: 'Premium',
  components: { ModalAccount,ModalAlert,ModalChangePassword},
  computed: {
      ...mapState({
          profile: state => state.auth.profile,
      }),

      expired_at_alt(){
        if(this.profile.subscribe != null){
          return format(new Date(this.profile.subscribe.expired_at),'dd MMM yyyy')
        }
        
      }
  },
  methods:{

    deactivate(){
      this.$modal.show(ModalAccount)
    },


    reactivate(){
      
       this.$store.dispatch('auth/ACTION_UPDATE_PROFILE', { is_active : true})
      .then(res => {
      
        this.$modal.show(ModalAlert,{
          note: 'Akaun Diaktifkan Semula', extra: 'Misi jodoh bersambung..'
        })

        this.$emit('close')
      })
    },

    // changePassword(){

    //   this.$modal.show(ModalChangePassword)

    // },

    logout(){

        this.$store.dispatch('auth/LOGOUT')
        .then(res => this.$router.push('/'))
    },

  }
}
</script>

<style lang="css" scoped>
</style>