<template>
  <div class='bg-white border-radius-10 h-min-100 m-3 p-3 flex flex-center bg-orange fadeInUp slow position-relative z-index-10' v-if=" profile.subscribe == null && profile.use_trial != 1">

          <img src='/svg/megaphone.svg' class='h-50 mr-3 animated pulsate-fwd'>

          <div class='flex flex-col'>
            
            <span class='text-white bold'>Akaun Premium Percuma!</span>
            <div class='flex flex-col is-small text-black'>
                <span> <img src='/img/checked.png' class='h-10 mr-2' >Carian calon tanpa had</span>
                <span> <img src='/img/checked.png' class='h-10 mr-2' >Simpan calon pilihan tanpa had</span>
                <span> <img src='/img/checked.png' class='h-10 mr-2' >Beri Salam tanpa had</span>
                <span> <img src='/img/checked.png' class='h-10 mr-2' >Hantar Surat tanpa had</span>
            </div>
            <nuxt-link to='/promo/trial' class='button is-link'>
              Klik Sini
            </nuxt-link>
            
          </div> 

      
    </div>
</template>

<script>
import {mapState} from 'vuex'

export default {

  name: 'Account',
  computed: {
      ...mapState({
          profile: state => state.auth.profile,
      })
  }
}
</script>

<style lang="css" scoped>
</style>