<template>
<div class='mt-3 has-text-centered'>
   <!-- <h3>Kelebihan akaun PRO</h3> -->
      <h3 class='text-white mb-0 pb-0'>Kelebihan akaun PRO</h3>
      <div class='flex flex-wrap flex-center'>

          <div class='h-150 w-150 flex-center flex has-text-centered flex-col bg-grey-light m-1 p-2 border-radius-10'>
            <img src='/svg/feedpeoples.svg' class='w-50'>
            <span class='bold'>Tanpa Had </span>
            <span class='is-small'>Lihat kad profil calon-calon tanpa had</span>
          </div>

          <div class='h-150 w-150 flex-center flex has-text-centered flex-col bg-grey-light m-1 p-2 border-radius-10'>
            <img src='/svg/loyalty.svg' class='w-50'>
            <span class='bold'> Salam Siapa?</span>
            <span class='is-small'>Lihat profil calon-calon yang memberi salam</span>
          </div>

          <!-- <div class='h-150 w-150 flex flex-center  has-text-centered flex-col bg-grey-light m-1 p-2 border-radius-10'>
            <img src='/svg/swipe.svg' class='w-50'>
            <span class='bold'>Undur Swipe </span>
            <span class='is-small'>Boleh lihat kad calon yang yang sebelumnya</span>
          </div> -->

          <div class='h-150 w-150 flex flex-center  has-text-centered flex-col bg-grey-light m-1 p-2 border-radius-10'>
            <img src='/svg/star_plus.svg' class='w-50'>
            <span class='bold'>Calon Pilihan</span>
            <span class='is-small'>Tiada had untuk simpan calon-calon pilihan</span>
          </div>

          <div class='h-150 w-150 flex flex-center  has-text-centered flex-col bg-grey-light m-1 p-2 border-radius-10'>
            <img src='/svg/express.svg' class='w-50'>
            <span class='bold'>Surat Express</span>
            <span class='is-small'>Surat akan disampaikan dengan kadar segera</span>
          </div>

      </div>

</div>
</template>

<script>
export default {

  name: 'Advantages'
}
</script>

<style lang="css" scoped>
</style>