<template>
<div>

    <!-- <h3 class="subtitle text-white mt-5">Perbandingan</h3> -->

    <!-- heading -->
    <div class='flex '>

      <div class='w-200 w-30pc-mobile m-1'></div>
      <div class="border-radius-10 bg-white w-200 m-1 w-30pc-mobile p-1 has-text-centered">        
          <!-- <img src='/svg/basic.svg' class='h-50 mr-2 '>  AKAUN FREE -->
          <div class='button bg-white text-blue bold hide-mobile'>
                  <img src='/svg/basic.svg' class='h-50 mr-2 '>  Akaun Biasa 
          </div>

          <div class='bg-white text-blue bold hide-desktop hide-tablet flex flex-col p-1'>
            <img src='/svg/basic.svg' class='h-50'> 
            <span> Percuma </span>
          </div>


      </div>

       <div class="border-radius-10 bg-orange w-300 m-1 w-30pc-mobile p-1 has-text-centered">       
          <!-- <img src='/svg/premium.svg' class='h-50 mr-2 '>AKAUN PREMIUM -->
          <div class='button bg-white text-orange bold hide-mobile'>
                  <img src='/svg/premium.svg' class='h-50 mr-2 animated pulsate-fwd '>  Akaun Premium 
            </div>

          <div class='bg-white text-orange bold hide-desktop hide-tablet flex flex-col p-1'>
            <img src='/svg/premium.svg' class='h-50'> 
            <span> Premium </span>
          </div>
      </div>

    </div>

    <CompareTab item='Senarai Calon' free='Terhad 100 calon' premium='Tiada Had' />
    <CompareTab item='Simpan Calon Pilihan' free='Tiada' premium='Tiada Had' />
    <CompareTab item='Beri Salam' free='Terhad 5 salam sehari' premium='Tiada Had' />
    <CompareTab item='Hantar Surat' free='Terhad 5 surat Sehari' premium='Tiada Had' />


    <div class='flex flex-col-mobile' v-if='showUpgradeButton'>

      <div class='w-200 m-1 hide-mobile p-1 has-text-centered'></div>
      <div class="w-200 m-1 hide-mobile  p-1 has-text-centered"></div>
      <nuxt-link to='/promo/packages' class="shadow border-radius-10 bg-blue-dark text-white bold w-300 m-1 w-90pc-mobile p-1 has-text-centered clickable">       
          <p class='animated pulsate-fwd'>Serendah RM6.90 je. KLIK SINI </p>
      </nuxt-link>

    </div>



</div>
</template>

<script>
import CompareTab from '~/components/promo/CompareTab'

export default {

  name: 'compare',
  components : { CompareTab},
  props : {
      showUpgradeButton :{
        default : false
      }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>