<template>
<div class='flex'>

      <div class='border-radius-10 bg-grey-dark text-white w-200 m-1 w-30pc-mobile p-2 has-text-centered flex flex-center'>
           {{ item}}
      </div>
      <div class="border-radius-10 bg-white w-200 m-1 w-30pc-mobile p-2 has-text-centered flex flex-center">        
         {{ free}}
      </div>

       <div class="border-radius-10 bg-orange text-white  bold w-300 m-1 w-30pc-mobile p-3 has-text-centered 
       flex flex-center">    {{ premium }}
      </div>
</div>
</template>

<script>
export default {

  name: 'CompareTab',
  props : ['item','free','premium']
}
</script>

<style lang="css" scoped>
</style>