<template>
<div>

      <Loader v-if='isLoading' />
  <!-- pakej -->
      <h3 class='text-white mt-4'>Sila Pilih Pakej Dibawah</h3>
      <div class='flex flex-center'>

          <div class='flex flex-col has-text-centered bg-white p-4 m-1 clickable w-30pc-mobile h-200-mobile'
          @click='subscribe(6.90 * 100,7)'>

              <span>.</span>
              <span class='font-size-30 bold'>1 </span>
              <span class='is-small mb-2'>Minggu</span>

              <div> 
                <span class='bold'> RM 6.90</span>
                <span class='is-small'>/minggu </span>
              </div>

          </div>


          <div class='flex flex-col flex-center has-text-centered bg-white p-4 m-1 h-200 w-30pc-mobile clickable '
          @click='subscribe(23.90 * 100,31)'>
              
              <span class='tag bg-orange text-white bold animated pulsate-fwd'>Recommended!</span>

              <span class='font-size-30 bold mb-0'>1 </span>
              <span class='is-small mb-2'>Bulan</span>

              <div> 
                <span class='bold'> RM 23.90 </span> 
                <span class='is-small'>/bulan </span>
              </div>

          </div>


      </div>

      <!-- payment -->
      <div class='mt-2 text-white has-text-centered flex flex-col w-500'>

          <span class='is-small'> Kaedah bayaran yang diterima</span>

          <span class='is-small'>Credit / Debit Card , Bank Transfer, FPX</span>
      </div>

</div>
</template>

<script>
import {getMonth,getYear} from 'date-fns'
import ModalSuccess from '~/components/modals/Success'
import ModalAlert from '~/components/helpers/ModalAlert'
import Loader from '~/components/helpers/Loader'
export default {

  name: 'package',
  components : { ModalSuccess,ModalAlert, Loader},
  data(){
    return{
      isLoading : false
    }
  },
  methods:{

    subscribe(amount,days){
      
      this.isLoading = true

      //current month and year
      let monthYear = `${getMonth(new Date())}-${getYear(new Date())}`

      let params = {  amount:  amount, days : days}

      this.$store.dispatch('subscribe/ACTION_CREATE_BILL', params)
      .then(res => {
         //redirect to billplz page
         window.location = res.data.url
      })
      .catch(err =>{

        this.$modal.show(ModalAlert,{
          status : 'error', note: 'Proses tidak berjaya', extra: err
        })

      })
      .finally( () => this.isLoading = false)


    }
  }
}
</script>

<style lang="css" scoped>
</style>