<template>
	<div v-if="candidate">
		<!-- show bookmark in candidates page only -->
		<div
			class="w-60 h-60 bg-yellow-light text-white m-1 flex flex-col flex-center border-radius-50 step-bookmark"
			v-if="$route.path=='/candidates'"
			@click="isBookmarkAction(candidate.id)"
			:class="is_bookmark ? `animated bounce-top` : `` "
		>
			<img src="/svg/bookmark-add.svg" class="w-30" />
		</div>

		<!-- remove button in bookmark page only -->
		<div
			class="w-60 h-60 bg-grey-light text-white m-1 flex flex-col flex-center border-radius-50"
			v-if="$route.path=='/bookmarks'"
			@click="removeBookmark(candidate.id)"
			:class="is_bookmark_remove ? `animated bounce-top` : `` "
		>
			<img src="/svg/bookmark-remove.svg" class="w-30" />
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import ModalSuccess from "~/components/modals/Success";
	export default {
		name: "Bookmark",
		props: ["candidate"],
		computed: {
			...mapState({
				is_bookmark: state => state.candidate_manage.is_bookmark,
				is_bookmark_remove: state =>
					state.candidate_manage.is_bookmark_remove
			})
		},
		methods: {
			isBookmarkAction(id) {
				//only paid can bookmark
				this.checkSubscribe();

				this.$store.commit("candidate_manage/UPDATE_IS_BOOKMARK", true);
				this.$store
					.dispatch("bookmark/ACTION_ADD_CANDIDATE", id)
					.then(res =>
						//delay 2 second to finish animation
						setTimeout(this.callbackIsBookmark(), 700)
					)
					.then(() => {
						this.$modal.show(
							ModalSuccess,
							{
								note: "Berjaya",
								extra: "Calon Diset sebagai Calon Pilihan"
							},
							{
								height: "auto",
								width: "400px",
								adaptive: true
							}
						);
					});
			},

			callbackIsBookmark() {
				return () => {
					this.$store.commit(
						"candidate_manage/UPDATE_IS_BOOKMARK",
						false
					);
					this.$store.commit("candidates/INCREMENT_CANDIDATES_ARR_INDEX");
				};
			},

			removeBookmark(id) {
				this.$store.commit(
					"candidate_manage/UPDATE_IS_BOOKMARK_REMOVE",
					true
				);
				this.$store
					.dispatch("bookmark/ACTION_REMOVE_CANDIDATES", id)
					.then(res =>
						//delay 2 second to finish animation
						setTimeout(this.callbackIsBookmarkRemove(), 700)
					);
			},
			callbackIsBookmarkRemove() {
				return () => {
					this.$store.commit(
						"candidate_manage/UPDATE_IS_BOOKMARK_REMOVE",
						false
					);
					this.$store.commit("bookmark/INCREMENT_CANDIDATES_ARR_INDEX");
				};
			},

			checkSubscribe() {
				//check current profile id
				let is_subscribe = context.store.state.auth.profile.subscribe;

				//if not subscribe redirect to pay page
				if (is_subscribe === null) {
					context.redirect("/promo/upgrade");
				}
			}
		}
	};
</script>

<style lang="css" scoped>
</style>