<template>
<div href='#' class='p-1 bold clickable has-text-centered bg-red-dark text-white border-radius-10 w-400 w-90pc-mobile hide-desktop hide-tablet mt-2' 
                  @click="$store.commit('candidates/SET_HIDE_DETAIL')" v-if='show_detail'>
                  TUTUP BIODATA
</div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  name: 'CloseBio',
  computed:{

    ...mapState({

     
         show_detail               : state => state.candidates.show_detail,

      })
  }
}
</script>

<style lang="css" scoped>
</style>