<template>
<div>
    <div class='w-60 h-60 bg-pink-dark text-white m-1 flex flex-col flex-center border-radius-50'
            
            @click="$modal.show('flag')"
            >
              <img src='/svg/warning.svg' class='w-30'>
    </div>  

</div>
</template>

<script>
export default {

  name: 'Flag',
}
</script>

<style lang="css" scoped>
</style>