<template>
	<div v-if="candidate">
		<!-- show bookmark in candidates page only -->
		<div
			class="w-60 h-60 bg-blue-light text-white m-1 flex flex-col flex-center border-radius-50 step-bookmark step-openbio"
			@click="$store.commit('candidates/SET_SHOW_DETAIL')"
			v-if="!show_detail"
		>
			<img src="/svg/info.svg" class="w-30" />
		</div>

		<!-- remove button in bookmark page only -->
		<div
			class="w-60 h-60 bg-blue-light text-white m-1 flex flex-col flex-center border-radius-50"
			@click="$store.commit('candidates/SET_HIDE_DETAIL')"
			v-if="show_detail"
		>
			<img src="/svg/cross-out.svg" class="w-30" />
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";

	export default {
		name: "Openbio",
		props: ["candidate"],
		computed: {
			...mapState({
				show_detail: state => state.candidates.show_detail
			})
		}
	};
</script>

<style lang="css" scoped>
</style>