<template>
<div v-if='candidate'>
   <div class='w-60 h-60 bg-green-dark text-white m-1 flex flex-col flex-center border-radius-50 step-salam'
    @click='giveSalamAction(candidate.id)'
    :class="is_salam ? `animated swirl-out-bck` : `` "
   >
    
      <img src='/img/salam.png' class='w-30'>
        
</div> 
</div>
</template>

<script>
import {mapState} from 'vuex'
import ModalSuccess from '~/components/modals/Success'
export default {

  name: 'Salam',
  props : ['candidate'],
  computed: {
      ...mapState({
          is_salam: state => state.candidate_manage.is_salam,

      })
  },
  methods:{
    

    giveSalamAction(id){

      this.$store.commit('candidate_manage/UPDATE_IS_SALAM',true)
      this.$store.dispatch('candidate_manage/ACTION_GIVE_SALAM', id)
      .then( (res) => 
          //delay 2 second to finish animation
          setTimeout(this.callbackIsSalam(), 700)
      )
      .then((res)=>{

        this.$modal.show(ModalSuccess, 
          { note: "Salam Disampaikan", extra : ".."},
          { height : "auto" ,width : "300px" })

      })
      .catch((err) => {

          this.$modal.show(ModalSuccess, 
          { note: "Opps", status : 'error', extra : err},
          { height : "auto" ,width : "300px" })
      })
      .finally(()=>{
        this.$store.commit('candidate_manage/UPDATE_IS_SALAM',false)
      })

      
    },

    callbackIsSalam(){
        return () => {
          this.$store.commit('candidate_manage/UPDATE_IS_SALAM',false)
      }
    },


  }
}
</script>

<style lang="css" scoped>
</style>