<template>
	<div
		class="w-60 h-60 bg-indigo-dark text-white m-1 flex flex-col flex-center border-radius-50 step-letter"
		@click="writeLetterPage(candidate)"
	>
		<img src="/img/letter-write.png" class="w-30" />
	</div>
</template>

<script>
	export default {
		props: ["candidate"],
		methods: {
			writeLetterPage(candidate) {
				this.$store.commit("inbox_letters/UPDATE_CANDIDATE", candidate)

				//create inbox

				//redirected
				this.$router.push("/inbox_letters/create")
			}
		}
	}
</script>

<style>
</style>