<template>
<section class='section flex flex-center h-min-80vh'>

    <div class='w-500 h-min-400'>

      <div class='h-100 flex items-center bg-white border-radius-10 m-2 p-2 clickable' 
        v-for='box in inbox_arr'  
        @click='goToLetters(box.inbox.participants[0].user, box.inbox_id)'
      >

          <div class='pr-4 h-80'>
            <div class='border-radius-50 w-80 h-80 bg-size-cover bg-position-center' 
            :style="{
            'backgroundImage' : `url(${box.inbox.participants[0].user.avatar})`
            }"></div>

          </div>

          <div class='flex flex-col w-100pc p-2'>
              <span class='bold text-pink-dark'>
              <!-- {{box.inbox.participants[0].user.id}} - -->
              {{box.inbox.participants[0].user.nickname}}</span>
              
              <span class='is-small bold  p-1 has-text-right flex justify-end'>
                {{box.inbox.letters_count}}
                <img src='/svg/letter.svg' class='pl-2 h-20'>
              </span>
              <!-- <span class='is-small'>{{box.inbox.letters_read}} surat baru</span> -->
              <span class='is-small has-text-right'>{{box.inbox.updated_at_alt}}</span>
          </div>

      </div>

    </div>

</section>
</template>

<script>
import {mapState} from 'vuex'


export default {

  name: 'index',
  middleware : 'authenticated',
  computed: {
      ...mapState({
          inbox_arr    : state => state.inbox.inbox_arr,
          profile      : state  => state.auth.profile
      })
  },
  created(){
    let params = { page : 1}
    this.$store.dispatch('inbox/FETCH_INBOX', params)
  },
  methods:{

    goToLetters(candidate, inbox_id){
      this.$store.commit('inbox_letters/UPDATE_CANDIDATE', candidate)
      this.$store.commit('inbox_letters/UPDATE_INBOX_ID', inbox_id)
      this.$router.push('/inbox_letters')
    }
  }
}
</script>

<style lang="css" scoped>
</style>