<template>
<div class='flex flex-col-mobile flex-center h-auto mb-5'>

  <div class='m-3 flex flex-col flex-center w-30pc has-text-centered '>

    <figure class='image w-300 '>
      <img src='/img/carian.png' class=''>
    </figure>

    <p class='text-blue-dark bold'>Carian Sifat Calon </p>

    <div class='text-black w-200 is-small'>Anda mahu mencari calon yang pengemas? berdikari? matang? Klik cari je!</div>

  </div>




  <div class='m-3 flex flex-col flex-center w-30pc has-text-centered'>

    
    <figure class='image w-300'>
      <img src='/img/advantage-2.png' class=''>
    </figure>

    <p class='text-blue-dark bold'>Persamaan calon</p>

    <div class='text-black w-200 is-small'>Ringkasan persamaan karektor dan sifat dengan anda. Mudah untuk anda ingin mengenalinya lebih dekat!</div>

  </div>





  <div class='m-3 flex flex-col flex-center w-30pc has-text-centered'>

    <figure class='image w-300'>
      <img src='/img/advantage-3.png' class=''>
    </figure>

    <p class='text-blue-dark bold'>Sifat Diri & Calon </p>

    <div class='text-black w-200 is-small'>Anda ingin tahu apa sifat utama diri calon dan apa sifat yang beliau kehendaki? Info ini sangat membantu!</div>

  </div>





</div>
</template>

<script>
export default {

  name: 'Advantage',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>