<template>
	<v-facebook-login
		app-id="631595470709623"
		@login="loginFB()"
		@logout="logoutFB()"
		@connect="connectedFB()"
		class="w-300"
	></v-facebook-login>
</template>


<script>
	// LIVE app-id="631595470709623"
	// TEST app-id="562346484544901"
	import ModalAlert from "~/components/helpers/ModalAlert"
	// import {mapState} from 'vuex'
	export default {
		name: "FacebookLogin",
		components: { ModalAlert },
		data() {
			return {
				isDev: process.env.isDev
			}
		},
		methods: {
			loginFB() {
				// console.log(user)
				console.log("success login")

				this.$store.commit("UPDATE_LOADING", true)

				//call FB api to get basic profile
				FB.api(
					"/me",
					{
						fields:
							"email,picture.height(500),name,first_name,last_name,short_name"
					},
					fbuser => {
						console.log(fbuser)

						//checking if this user email registered
						this.checkUser(fbuser)
					}
				)
			},

			checkUser(fbuser) {
				this.$store
					.dispatch("auth/ACTION_CHECK_USER", fbuser.email)
					.then(user => {
						if (!user.data.existed) {
							//register using fb user data
							this.registerAndLogin(fbuser)
						} else {
							//login using db data
							this.login(user.data.user)
						}
					})
			},

			//if new user, auto register, using password @Suajodoh99 and auto login and go to wizard
			registerAndLogin(fbuser) {
				let data = {
					// name      : fbuser.name,
					email: fbuser.email,
					// gender    : 'male',
					nickname: fbuser.first_name,
					password: "@Suajodoh99",
					avatar: fbuser.picture.data.url,
					provider: "facebook",
					is_email_verified: true
				}

				data = this.appendUTM(data)

				this.$store
					.dispatch("auth/REGISTER", data)
					.then(res => {
						//this.$router.push('/misc/registered')
						let user = res.data.user
						return user
					})
					.then(user => {
						this.login(user)

						//end user
					})
					.catch(err => {
						//console.log(err.message)
						console.log(err)

						this.$modal.show(
							ModalAlert,
							{ note: "Error", status: "error", extra: err },
							{
								height: "auto",
								width: "400px",
								adaptive: true
							}
						)
					})
			},

			login(user) {
				this.$store
					.dispatch("auth/LOGIN_WITHOUT_PASSWORD", user.email)
					.then(reslogin => {
						this.$store.commit("auth/UPDATE_SOCIAL_AUTH", true)

						if (reslogin.data.user.is_profile_completed) {
							this.$router.push("/candidates")
						} else {
							this.$router.push("/profile/wizard")
						}

						//end reslogin
					})
			},

			logoutFB() {
				FB.logout(function(response) {
					// user is now logged out
					console.log("Out dulu ya")
				})
			},
			connectedFB() {
				FB.api(
					"/me",
					{
						fields:
							"email,picture.height(500),name,first_name,last_name,short_name"
					},
					fbuser => {
						console.log("connected fb")
						console.log(fbuser)
						this.login(fbuser)
					}
				)
			},

			fbAppID() {
				return "562346484544901"
			},

			appendUTM(data) {
				if (window.localStorage) {
					if (
						localStorage.getItem("utm_source") != "undefined" &&
						localStorage.getItem("utm_source") != ""
					) {
						data.utm_source = localStorage.getItem("utm_source")
						data.utm_medium = localStorage.getItem("utm_medium")
						data.utm_campaign = localStorage.getItem("utm_campaign")
						data.utm_content = localStorage.getItem("utm_content")
					}
				} else {
					// alert('ls does not exist');
				}

				return data
			}
		}
	}
</script>

<style lang="css" scoped>
</style>