<template>
<div class='container flex flex-center flex-col flex-wrap justify-center h-80vh'>

    <h3 class="title text-white">Kata Laluan Sementara</h3>

    <div class="border-radius-10 bg-white text-black w-500  w-90pc-mobile p-3 has-text-centered mb-2">
                  
           <span class='title'>{{ temporary_password }}</span> 
    </div>

    <span class='text-white'>Sila gunakan kata laluan tersebut untuk login. </span>
    <span class='text-white'>Setelah login sila tukar kepada kata laluan yang anda kehendaki</span>

</div>
</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'apiTokenTemp',
  components:{ ModalAlert},
  data(){
    return {
      temporary_password : ''
    }
  },
  created(){

    this.$store.dispatch('auth/TEMPORARY_PASSWORD', { api_token : this.$route.params.api_token})
      .then(res => {

          console.log(res)

          this.temporary_password = res.data.temporary_password
      })
      .catch(err =>{

        this.$modal.show(ModalAlert, 
        { note: "Problem", status : 'error', extra : err},
        {height : "auto" ,width : "400px" })

      })
  },
  methods:{

    reset(){
      
    }
    
  }
}
</script>

<style lang="css" scoped>
</style>