<template>
	<div
		class="bg-white border-radius-10 h-min-200 w-500 w-100pc-mobile m-3 p-4 flex flex-col animated fadeInDown position-relative z-index-10"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed mb-3"
		>
			<span class="bold font-size-20">BIODATA</span>
		</div>

		<div class="flex flex-col w-100pc">
			<div class="mt-1">
				<span class="bold w-50pc is-small mb-0">Nama Penuh</span>
				<br />
				<span class="is-small">(tidak dipaparkan, tujuan pengesahan)</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.name.required && submitStatus"
				>Nama penuh diperlukan</span>
				<input class="input" v-model="name" />
			</div>

			<span class="is-small mt-2 bold">Jantina</span>
			<div
				class="has-text-danger is-small"
				v-if="!$v.profile.gender.required && submitStatus"
			>Jantina Anda diperlukan</div>

			<div class="flex">
				<label class="mr-3">
					<input v-model="gender" class="is-medium" type="radio" value="male" />
					Lelaki
				</label>

				<label>
					<input v-model="gender" class="is-medium" type="radio" value="female" />
					Perempuan
				</label>
			</div>

			<!-- <div class='mt-1'>
            <span class='bold w-50pc is-small'>Nama Samaran </span><br/>
             <span class="help is-danger" v-if="!$v.profile.nickname.required && submitStatus ">
            Nama samaran diperlukan</span>
            <input class='input' v-model='nickname' >
			</div>-->

			<div class="mt-1">
				<span class="bold w-50pc is-small">Bandar Lahir/ Membesar</span>
				<br />

				<span
					class="help is-danger"
					v-if="!$v.profile.city_born.required && submitStatus"
				>Bandar Kelahiran Mesti Diisi</span>

				<div class="flex w-100pc">
					<places
						class="input"
						v-model="city_born"
						:options="{ type: 'city' }"
						placeholder="Pilih nama bandar"
						@change="val => (city_born = val)"
					></places>
				</div>
			</div>

			<!--  <div class='mt-1'>
            <span class='bold w-50pc'>Bandar/Negeri Menetap</span><br/>
            <span  v-if='!editBiodata'>{{ profile.city_stay}}, {{ profile.state_stay}}</span>
            <div class='flex w-100pc' v-else>
              <div class='w-60pc mr-1'>
                <input class='input' v-model='city_stay' >
              </div>
              <div class='select '>
                <select v-model='state_stay' class='w-100pc'>
                    <option v-for='state in malaysia_states'>{{state}}</option>
                </select>
             </div>
            </div>
			</div>-->

			<div class="mr-1">
				<span class="bold w-50pc is-small">Pekerjaan</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.occupation.required && submitStatus"
				>Pekerjaan mesti diisi</span>
				<v-select v-model="occupation" :options="occupations" taggable />
			</div>

			<div class>
				<span class="bold w-50pc is-small">Pendidikan</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.education.required && submitStatus"
				>Pendidikan mesti diisi</span>
				<input class="input" v-model="education" placeholder="ie UiTM, Mass Comm" />
			</div>

			<div class="mr-1">
				<span class="bold w-50pc is-small">Tinggi (cm)</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.height.required && submitStatus"
				>Ketinggian Mesti Diisi</span>
				<input class="input" v-model="height" />
			</div>

			<div>
				<span class="bold w-50pc is-small">Tarikh Lahir</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.birthdate.required && submitStatus"
				>Tarikh Lahir Mesti Diisi</span>
				<input class="input" type="date" min="1960-01-01" v-model="birthdate" />
			</div>

			<div class="flex justify-between">
				<button class="button is-info mt-2 w-100" @click="back()">BACK</button>
				<button class="button is-info mt-2 w-100" @click="checkForm()">NEXT</button>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import { required } from "vuelidate/lib/validators";
	import Places from "vue-places";

	export default {
		name: "Biodata",
		data() {
			return {
				submitStatus: false
			};
		},
		components: {
			Places
		},
		validations: {
			profile: {
				name: { required },
				gender: { required },
				// nickname : {required},
				// state_born: { required },
				city_born: { required },
				height: { required },
				occupation: { required },
				education: { required },
				birthdate: { required }
			}
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				malaysia_states: state => state.malaysia_states,
				occupations: state => state.lookup.occupations
			}),

			// nickname : {
			//   get(){
			//     return this.profile.nickname
			//   },
			//   set(val){
			//     this.$store.commit('auth/SET_nickname', val)
			//   }

			// },

			name: {
				get() {
					return this.profile.name;
				},
				set(val) {
					this.$store.commit("auth/SET_name", val);
				}
			},

			gender: {
				get() {
					return this.profile.gender;
				},
				set(val) {
					this.$store.commit("auth/SET_gender", val);
				}
			},
			city_born: {
				get() {
					return this.profile.city_born;
				},
				set(val) {
					this.$store.commit("auth/SET_city_born", val);
				}
			},

			occupation: {
				get() {
					return this.profile.occupation;
				},
				set(val) {
					this.$store.commit("auth/SET_occupation", val);
				}
			},
			education: {
				get() {
					return this.profile.education;
				},
				set(val) {
					this.$store.commit("auth/SET_education", val);
				}
			},
			height: {
				get() {
					return this.profile.height;
				},
				set(val) {
					this.$store.commit("auth/SET_height", val);
				}
			},
			birthdate: {
				get() {
					if (!this.profile.birthdate) {
						return "1986-01-01";
					} else {
						return this.profile.birthdate;
					}
				},
				set(val) {
					this.$store.commit("auth/SET_birthdate", val);
				}
			}
		},
		created() {
			this.$store.dispatch("lookup/FETCH_OCCUPATIONS");
		},
		methods: {
			back() {
				this.$store.commit("profile_wizard/ACTIVATE_step1");
			},
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},
			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(res => this.$store.commit("profile_wizard/ACTIVATE_step3"));
			}
		}
	};
</script>

<style lang="css">
	.ap-dropdown-menu.ap-with-places {
		display: contents !important;
	}
</style>

