<template>
	<!-- CIRI PASANGAN -->
	<div
		class="bg-white border-radius-10 h-min-200 m-3 p-3 flex flex-col animated fadeInDown position-relative z-index-20 w-600 w-100pc-mobile"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed"
		>
			<span class="bold font-size-20">CIRI PASANGAN</span>
		</div>

		<div class="flex flex-col">
			<span class="is-small pb-3">
				<span class="text-orange bold">Tips!</span> Skor anda akan bertambah
				sekiranya sifat calon dan ciri calon anda sama
			</span>

			<div class>
				<span class="help is-danger" v-if="!$v.is_want.required && submitStatus">This field is required</span>
				<span
					class="help is-danger"
					v-if="!$v.is_want.minLength && submitStatus"
				>Choose minimum 5 behavior</span>

				<div class="flex flex-wrap my-2">
					<div v-for="behave_candidate in options_behavior" :key="behave_candidate">
						<input
							type="checkbox"
							chipstyle="yes"
							:id="behave_candidate"
							:value="behave_candidate"
							v-model="is_want"
						/>
						<label :for="behave_candidate">{{ behave_candidate }}</label>
					</div>
				</div>
			</div>

			<!--  <div class='mt-3'>
               <span class='bold is-small'>Bukan Sifat Dia..</span>
               

                <span class="help is-danger" v-if="!$v.is_dontwant.required && submitStatus ">This field is required</span>
                <span class='is-small text-red' >Pilih 5 </span>
                <v-select  multiple v-model="is_dontwant" :options="options_badbehavior" />
			</div>-->

			<div class="flex justify-between">
				<button class="button is-info mt-2 w-100" @click="back()">BACK</button>
				<button class="button is-info mt-2 w-100" @click="checkForm()">NEXT</button>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import { required, minLength } from "vuelidate/lib/validators";

	export default {
		name: "PersonalityCandidate",
		data() {
			return {
				editBiodata: false,
				submitStatus: false
			};
		},
		validations: {
			is_want: {
				required,
				minLength: minLength(5)
			}
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				options_behavior: state => state.lookup.good,
				options_badbehavior: state => state.lookup.bad
			}),

			is_want: {
				get() {
					return this.profile.is_want ? this.profile.is_want : [];
				},
				set(val) {
					this.$store.commit("auth/SET_is_want", val);
				}
			}
		},
		methods: {
			back() {
				this.$store.commit("profile_wizard/ACTIVATE_step4");
			},
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},
			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(res => this.$store.commit("profile_wizard/ACTIVATE_step6"));
			}
		}
	};
</script>
