<template>
	<div
		class="h-min-200 bg-white border-radius-10 m-3 p-4 flex flex-col animated fadeInDown position-relative z-index-20 w-600 w-100pc-mobile"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed mb-3"
		>
			<span class="bold font-size-20">MINAT</span>
		</div>

		<div class="flex flex-col">
			<div class>
				<span
					class="help is-danger"
					v-if="!$v.profile.hobby.required && submitStatus"
				>This field is required</span>

				<span
					class="help is-danger"
					v-if="!$v.profile.hobby.maxLength && submitStatus "
				>Maximum 10 interest only</span>

				<div class="flex flex-wrap my-2">
					<div v-for="topic_hobby in options_hobby" :key="topic_hobby">
						<input type="checkbox" chipstyle="yes" :id="topic_hobby" :value="topic_hobby" v-model="hobby" />
						<label :for="topic_hobby">{{ topic_hobby }}</label>
					</div>
				</div>
			</div>

			<!-- <div class="mt-1">
				<span class="bold w-50pc is-small">Topik Bacaan & Perbualan</span>
				<br />
				<span
					class="help is-danger"
					v-if="!$v.profile.read.required && submitStatus"
				>This field is required</span>

				<div class="flex flex-wrap my-2">
					<div v-for="topic_fav in options_topic" :key="topic_fav">
						<input type="checkbox" chipstyle="yes" :id="topic_fav" :value="topic_fav" v-model="read" />
						<label :for="topic_fav">{{ topic_fav }}</label>
					</div>
				</div>
			</div>-->

			<div class="flex justify-between">
				<button class="button is-info mt-2 w-100" @click="back()">BACK</button>
				<button class="button is-info mt-2 w-100" @click="checkForm()">NEXT</button>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import { required, maxLength } from "vuelidate/lib/validators";

	export default {
		name: "Favourite",
		data() {
			return {
				submitStatus: false
			};
		},

		validations: {
			profile: {
				hobby: { required, maxLength: maxLength(10) }
			}
		},

		computed: {
			...mapState({
				profile: state => state.auth.profile,
				options_hobby: state => state.lookup.hobbies
			}),

			hobby: {
				get() {
					return this.profile.hobby ? this.profile.hobby : [];
				},
				set(val) {
					this.$store.commit("auth/SET_hobby", val.slice(0, 10));
				}
			}
		},
		methods: {
			back() {
				this.$store.commit("profile_wizard/ACTIVATE_step4");
			},
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},

			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(res => this.$store.commit("profile_wizard/ACTIVATE_step6"));
			}
		}
	};
</script>
