<template>
  <div class='bg-white border-radius-10 m-3 p-3 flex flex-col animated fadeInDown  position-relative w-500 w-100pc-mobile'>

        <div class='flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 
             border-dashed mb-1 '>
             <span class='bold  font-size-20 '> Pengenalan </span> 

        </div>


        <div class='flex flex-col w-100pc'>

          <div class='is-small pb-3'> Ceritakan sedikit  tentang diri anda</div>

            <span class="help is-danger" v-if="!$v.profile.intro.required && submitStatus">Pengenalan diri anda diperlukan</span>

            <textarea class='textarea' rows='2' maxlength="100" v-model='intro'>
            {{ profile.intro | truncate(150)}}</textarea>

            <span class='is-small'  >Had 100 patah perkataan</span>

            <div class='flex justify-end'>
              <button class='button is-info mt-2 w-100 ' @click='checkForm()'>NEXT</button>
            </div>

        </div>

        
  </div>

</template>

<script>
import {mapState} from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {

  name: 'Biodata',
  data(){
    return{
       submitStatus : false
    }
  },
  validations:{

    profile : {
        intro : {required}
    }  
    
  },
  computed:{

    ...mapState({

         profile            : state => state.auth.profile,
         
      }),

    intro : {
      get(){
        return this.profile.intro
      },
      set(val){
        this.$store.commit('auth/SET_intro', val)
      }

    }


  },
  methods:{

    checkForm() {

                if (this.$v.$invalid) {
                    this.submitStatus = true
                } else {
                    this.submitStatus = false
                    this.updateProfile()
                }

    },

      updateProfile(){

        this.$store.dispatch('auth/ACTION_UPDATE_PROFILE', this.profile)
        .then((res) => this.$store.commit('profile_wizard/ACTIVATE_step2'))
      }
  }
}
</script>

<style lang="css" scoped>
</style>