<template>
	<div
		class="bg-white border-radius-10 h-min-200 m-3 p-4 flex flex-col bg-white animated fadeInDown position-relative z-index-30 w-600 w-100pc-mobile"
	>
		<div
			class="flex justify-between text-blue-dark border-t-0 border-l-0 border-r-0 border-b-2 border-dashed"
		>
			<span class="bold font-size-20">PERSONALITI</span>
		</div>

		<div class="flex flex-col">
			<span class="is-small pb-3">
				<span class="text-orange bold">Tips!</span> Skor anda akan bertambah
				sekiranya sifat calon dan ciri calon anda sama
			</span>

			<span class="help is-danger" v-if="!$v.is_me.required && submitStatus">This field is required</span>
			<span class="help is-danger" v-if="!$v.is_me.minLength && submitStatus">Choose minimum 5 behavior</span>
			<span
				class="help is-danger"
				v-if="!$v.is_me.maxLength && submitStatus"
			>Choose maximum 10 behavior</span>

			<div class="flex flex-wrap my-2">
				<div v-for="behave_wiz in options_behavior" :key="behave_wiz">
					<input type="checkbox" chipstyle="yes" :id="behave_wiz" :value="behave_wiz" v-model="is_me" />
					<label :for="behave_wiz">{{ behave_wiz }}</label>
				</div>
			</div>

			<div class="flex justify-between">
				<button class="button is-info mt-2 w-100" @click="back()">BACK</button>
				<button class="button is-info mt-2 w-100" @click="checkForm()">NEXT</button>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import { required, minLength, maxLength } from "vuelidate/lib/validators";

	export default {
		name: "PersonalituWizard",
		data() {
			return {
				submitStatus: false,
				testBox: ""
			};
		},

		validations: {
			is_me: {
				required,
				minLength: minLength(5),
				maxLength: maxLength(10)
			}
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				options_behavior: state => state.lookup.good,
				options_badbehavior: state => state.lookup.bad
			}),

			is_me: {
				get() {
					return this.profile.is_me ? this.profile.is_me : [];
				},
				set(val) {
					this.$store.commit("auth/SET_is_me", val);
				}
			}
		},
		methods: {
			back() {
				this.$store.commit("profile_wizard/ACTIVATE_step3");
			},
			checkForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true;
				} else {
					this.submitStatus = false;
					this.updateProfile();
				}
			},

			updateProfile() {
				this.$store
					.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
					.then(res => this.$store.commit("profile_wizard/ACTIVATE_step5"));
			}
		}
	};
</script>
