<template>
<div class='flex flex-col w-400 w-100pc-mobile bg-white p-2 border-radius-10 is-small my-3 position-relative' v-if='showModal'>
    
    
     <span class='flex p-1 pt-2 text-grey-dark'>
          <img src='/svg/warning-orange.svg' class='mr-2 h-20'> 
          <span> Gambar mestilah  <span class='bold'> sopan & menutup aurat </span>.</span> 
     </span>

     <span class='flex p-1 text-grey-dark'>
          <img src='/svg/warning-orange.svg' class='mr-2 h-20'> 
          <span> Saiz gambar mesti  <span class='bold'> kurang 5MB </span>.</span> 
     </span>

    <span class='position-absolute clickable' style='top:2px; right: -5px' @click='closeModal()'> 
       <img src='/svg/close.svg' class='mr-2 h-20'> 
     </span>

    <span class='position-absolute bg-white px-2 border-radius-10 bold' style='top:-10px; left:35%'>
       Syarat-Syarat
     </span>

  </div>
</template>

<script>
export default {

  name: 'PhotoRule',

  data () {
    return {
        showModal : true,
    }
  },
  methods:{

    closeModal(){
      this.showModal = false
    }
  }
}
</script>

<style lang="css" scoped>
</style>