<template>
  <div class="w-400 w-100pc-mobile">
    <PhotoRule />

    <div
      class=" flex flex-col mt-3 justify-end items-center bg-size-cover bg-position-top-center text-white border-radius-10
  animated fadeInUp slow"
      :style="{
        'background-color': 'black',
        backgroundImage: `url(${profile.avatar})`
      }"
      :class="profile.avatar ? `h-500 h-70vh-mobile` : `h-300`"
    >
      <Loader v-if="isLoading" />

      <span class="tag bg-yellow">PREVIEW</span>

      <div
        class="border-radius-10 flex flex-col w-100pc justify-center items-center p-3"
        style="background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,0,0,0));"
      >
        <!--  NAME -->
        <div class="flex flex-col flex-center w-100pc has-text-centered">
          <h2
            class="bold is-size-2 text-white mb-0"
            style="text-shadow: 2px 2px #000;"
          >
            {{ profile.nickname }}
          </h2>
          <span class="font-size-12"
            >{{ profile.state_born }} | {{ profile.occupation }}</span
          >
        </div>

        <!-- SUMMARY -->
        <div class="flex flex-col mt-1 is-small ">
          <div class="flex justify-center p-3">
            {{ profile.intro | truncate(150) }}
          </div>
        </div>

        <!-- action button -->
        <div class="flex flex-col w-100pc ">
          <button
            class="w-100pc button is-link has-text-left my-2"
            @click="formImage = !formImage"
            v-if="!formImage"
          >
            <img src="/svg/user.svg" class="h-20 mr-2" />
            <span>Tukar Gambar </span>
          </button>

          <div v-if="formImage" class="flex">
            <input
              type="file"
              name="avatar"
              class="input file mr-1"
              ref="avatar"
              v-on:change="handleFileUpload()"
            />
            <button class="button is-link" @click="updateAvatar()">
              Upload
            </button>
          </div>

          <div class="flex justify-between ">
            <button class="button is-info mt-2 w-100 " @click="back()">
              BACK
            </button>
            <button
              class="button is-info mt-2 w-100 "
              @click="next()"
              v-if="profile.avatar"
            >
              NEXT
            </button>
          </div>
        </div>
      </div>
    </div>

    <span class="text-white is-small" v-if="unsplash_image">
      Photo by
      <a :href="unsplash_link" class="_blank">{{ unsplash_user }}</a> on
      <a :href="unsplash_link" class="_blank">Unsplash</a>
    </span>
  </div>
</template>

<script>
import Loader from "~/components/helpers/Loader";
import ModalAlert from "~/components/helpers/ModalAlert";
import PhotoRule from "~/components/profile_wizard/PhotoRule";
import { mapState } from "vuex";

export default {
  name: "Card",
  components: {
    Loader,
    ModalAlert,
    PhotoRule
  },
  data() {
    return {
      formImage: false,
      isLoading: false,
      avatar: ""
    };
  },
  computed: {
    ...mapState({
      profile: state => state.auth.profile,
      unsplash_image: state => state.vendor.unsplash_image,
      unsplash_user: state => state.vendor.unsplash_user,
      unsplash_link: state => state.vendor.unsplash_link
    })
  },
  created() {
    //if not using FB, automatically use unsplash image
    if (!this.profile.avatar) {
      this.pickUnsplashImage();
    }
  },
  methods: {
    back() {
      this.$store.commit("profile_wizard/ACTIVATE_step2");
    },

    next() {
      this.$store.commit("profile_wizard/ACTIVATE_step4");
    },

    pickUnsplashImage() {
      let imagesQuery = [];

      if (this.profile.gender == "female") {
        imagesQuery = ["flower", "leaves", "rose", "tulip", "flora"];
      } else {
        imagesQuery = [
          "mosque dome",
          "island",
          "scenery",
          "mountain",
          "nature"
        ];
      }

      var randomNumber = Math.floor(Math.random() * imagesQuery.length);

      let pickImageQuery = imagesQuery[randomNumber];

      let querySearch = { query: pickImageQuery, orientation: "portrait" };

      //load random image from unsplash
      this.$store
        .dispatch("vendor/FETCH_UNSPLASH_RANDOM", querySearch)
        .then(image => {
          this.$store.commit("auth/SET_avatar", image);
        })
        .then(res =>
          this.$store.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
        );
    },

    /*
      Handles a change on the file upload
    */
    handleFileUpload() {
      this.avatar = this.$refs.avatar.files[0];
    },

    updateAvatar() {
      this.isLoading = true;

      this.$store
        .dispatch("auth/ACTION_UPDATE_AVATAR", this.avatar)
        .then(res => {
          this.formImage = false;
          return res;
        })
        .then(res =>
          this.$store.dispatch("auth/ACTION_UPDATE_PROFILE", this.profile)
        )
        .catch(err => {
          //console.log(err)
          // this.$swal('Error', err, 'error')
          this.$modal.show(
            ModalAlert,
            { note: "Error", status: "error", extra: err },
            {
              height: "auto",
              width: "400px",
              adaptive: true
            }
          );
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>

<style lang="css" scoped></style>
