<template>
	<ul class="steps is-narrow is-small is-centered has-content-centered is-horizontal">
		<li
			class="steps-segment has-gaps clickable"
			:class=" step1 ? `is-active` : ``"
			@click="currentStep('step1')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<!-- <i class="fa fa-shopping-cart"></i> -->
					<img src="/svg/tick.svg" v-if="profile.intro" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Pengenalan</p>
			</div>
		</li>

		<li
			class="steps-segment has-gaps clickable"
			:class=" step2 ? `is-active` : ``"
			@click="currentStep('step2')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<img src="/svg/tick.svg" v-if="profile.is_profile_biodata_completed" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Biodata</p>
			</div>
		</li>

		<li
			class="steps-segment has-gaps clickable"
			:class=" step3 ? `is-active` : ``"
			@click="currentStep('step3')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<img src="/svg/tick.svg" v-if="profile.is_profile_avatar_completed" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Gambar</p>
			</div>
		</li>

		<li
			class="steps-segment has-gaps clickable"
			:class=" step4 ? `is-active` : ``"
			@click="currentStep('step4')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<img src="/svg/tick.svg" v-if="profile.is_profile_about_me_completed" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Personaliti</p>
			</div>
		</li>

		<li
			class="steps-segment has-gaps clickable"
			:class=" step5 ? `is-active` : ``"
			@click="currentStep('step5')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<img src="/svg/tick.svg" v-if="profile.is_profile_about_candidate_completed" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Ciri Pasangan</p>
			</div>
		</li>

		<li
			class="steps-segment has-gaps clickable"
			:class=" step6 ? `is-active` : ``"
			@click="currentStep('step6')"
		>
			<span class="steps-marker is-hollow">
				<span class="icon">
					<img src="/svg/tick.svg" v-if="profile.is_profile_favourites_completed" />
					<img src="/svg/error.svg" v-else />
				</span>
			</span>

			<div class="steps-content">
				<p class="heading hide-mobile">Minat</p>
			</div>
		</li>
	</ul>
</template>

<script>
	import { mapState, mapMutations } from "vuex";

	export default {
		name: "Stepper",
		computed: {
			...mapState({
				step1: state => state.profile_wizard.step1,
				step2: state => state.profile_wizard.step2,
				step3: state => state.profile_wizard.step3,
				step4: state => state.profile_wizard.step4,
				step5: state => state.profile_wizard.step5,
				step6: state => state.profile_wizard.step6,
				profile: state => state.auth.profile
			})
		},
		methods: {
			currentStep(step) {
				switch (step) {
					case "step1":
						this.$store.commit("profile_wizard/ACTIVATE_step1");
						break;
					case "step2":
						this.$store.commit("profile_wizard/ACTIVATE_step2");
						break;
					case "step3":
						this.$store.commit("profile_wizard/ACTIVATE_step3");
						break;
					case "step4":
						this.$store.commit("profile_wizard/ACTIVATE_step4");
						break;
					case "step5":
						this.$store.commit("profile_wizard/ACTIVATE_step5");
						break;
					case "step6":
						this.$store.commit("profile_wizard/ACTIVATE_step6");
						break;
					default:
					// code block
				}
			}
		}
	};
</script>

<style lang="css" scoped>
</style>