<template>
<section class='section container flex flex-center'>

   <div class='h-min-400 w-500 w-100pc-mobile bg-white border-radius-10 m-2 p-5 flex flex-col' >

        <span class='text-blue bold'>{{notification.inbox_letter.sender.nickname}}</span>
        <span class='text-grey  is-small pb-3'>{{notification.inbox_letter.created_at_alt}}</span>

        <span v-html='notification.inbox_letter.message' style='white-space: pre-wrap;'></span>
     
   </div>



</section>
</template>

<script>
import {mapState} from 'vuex'

export default {

  name: 'show',
  computed: {
      ...mapState({
          notification: state => state.notifications.notification_show,
      })
  },
  created(){
    this.$store.dispatch('notifications/FETCH_NOTIFICATION_SHOW', this.$route.params.id)
  }
}
</script>

<style lang="css" scoped>
</style>