<template>
<section class='section container h-min-80vh flex flex-center flex-wrap flex-col-mobile justify-center' v-if='candidate'>

  <div>
    <!-- form to write -->
    <div class='w-500 w-100pc-tablet w-100pc-mobile p-3 bg-white border-radius-10' v-if='!sentStatus'>

      <div class='flex justify-between mb-3'>
        <p class='bold'>Kepada : <br/> {{ candidate.nickname}}</p>

        <img src='/img/stamp.png' class='h-50'>
      </div>


      <textarea class='textarea' rows='6' v-model='message'>
      </textarea>


      <div class='bold pt-3'>Pilihan Kertas</div>
      <div class='flex flex-wrap'>

        <img :src='background.file_url_xs' class='h-50 h-30-mobile w-30-mobile w-50 m-1 border-radius-50 clickable'
            @click="selectBackground(background)" 
            v-for='background in backgrounds'>
        
      </div>


      <div class='has-text-right mt-2'>
        <button class='button bg-blue-darker text-white' @click='submitLetter()'>Hantar Surat</button>
      </div>

    </div>

    <!-- basic rule -->
    <div class='is-small my-3 text-white' v-if='!sentStatus'>
        <p class='bold'>Panduan: </p>
        <li>Min 100 patah perkataan </li>
        <li>Jangan beri nama penuh, alamat, no telefon semasa awal perkenalan</li>
        <li>Dilarang menggunakan perkataan lucah dan kotor.</li>
        <li>Calon boleh blok anda atau lapor kepada kami jika melanggar peraturan</li>
    </div>

  </div>


  <!-- LETTER PREVIEW -->
  <div class='h-min-500 w-500  h-70vh-mobile w-90pc-mobile mx-3 flex flex-col flex-center bg-size-cover letter p-3 border-radius-10' 
        :style="{
                'backgroundImage' : `url(${background_selected.file_url})`
              }"
        v-if='!sentStatus' 

        >
        <span class='font-size-20'>Kepada: {{ candidate.nickname}}</span>

        <div class='has-text-centered  font-size-24' style='overflow-y: scroll; white-space: pre-wrap;' v-html='message'>
           
        </div>
         
  </div>
  


  <!-- box show once  sent letter-->
  <div class='w-500 w-100pc-mobile h-300  has-text-centered bg-white p-5 flex flex-center flex-col border-radius-20' v-if="sentStatus=='success'">
    
      <img src='/svg/mail-sent.svg' class="h-100">

      <p class='pt-3 font-size-20'>Surat anda berjaya dihantar</p>

      <button class='button is-link' @click="$router.push('/notifications')">Kembali ke Surat</button>

  </div>

  <div class='w-500 w-100pc-mobile h-300 has-text-centered bg-white p-5 flex flex-center flex-col border-radius-20' v-if="sentStatus=='error'">
    
      <img src='/svg/stop.svg' class="h-100">

      <p class='pt-3 font-size-20 has-text-centered'>
        Surat anda tidak berjaya dihantar kerana tidak dibenarkan calon.
      </p>

       <button class='button is-link' @click="$router.push('/notifications')">Kembali ke Surat</button>

  </div>
  
</section>
</template>

<script>
import {mapState} from 'vuex'
import Card from '~/components/letters/Card'
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'create',
  components : { Card, ModalAlert},
  middleware: [ 'check_inbox_id','letter_count_today','authenticated'],
  data(){
    return {
      message     :'',
      sentStatus  :false,
    }
  },
  computed: {
      ...mapState({
          inbox_id     : state => state.inbox_letters.inbox_id,
          candidate    : state => state.inbox_letters.candidate,
          backgrounds  : state => state.inbox_letters.backgrounds,
          // background_selected  : state => state.inbox_letters.background_selected
      }),

       background_selected: {
        get () {
          return this.$store.state.inbox_letters.background_selected
        },
        set (value) {
          this.$store.commit('inbox_letters/UPDATE_BACKGROUND_SELECTED', value)
        }
      },


  },
  created(){  

    this.$store.dispatch('inbox_letters/FETCH_BACKGROUNDS')

  },
  methods:{

    submitLetter(){

      let parameters = {
        message               : this.message,
        letter_background_id  : this.background_selected.id,
        inbox_id              : this.inbox_id,
        receiver_id           : this.candidate.id
      }

      this.$store.dispatch('inbox_letters/ACTION_WRITE_LETTER', parameters)
      .then( (res) => {
        
        this.sentStatus = "success" 

      })
      .catch( err => {
        this.sentStatus = "error" 
        //console.log(err)
        // this.$swal('Error', "Wrong email /password", 'error') 
        this.$modal.show(ModalAlert, 
         { note: "Error", status : 'error', extra : err},{
              height : "auto" ,
              width : "400px" ,
              adaptive : true 
            })
      })
     

    },

    selectBackground(background){
      this.background_selected = background
    }


  }
}
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.letter{
  font-family: 'Caveat', cursive;
}
li{
  font-size:12px;
}
</style>