<template>
<section class='flex flex-col flex-center h-min-80vh'>

    <!-- letter cards -->
    <div class='flex flex-col flex-center m-2 w-100pc-mobile'>

           <Card :letter='currentLetter()'/>
            
    </div>

     <EmptyCard v-if='letters_arr_index == letters_arr.length'/>

     <!-- candidate card v2 -->
    <div class='h-100 w-500 w-90pc-mobile flex justify-between items-center bg-white border-radius-10 m-2 p-2 ' 
       >

          <div class='pr-4 h-80 flex flex-center'>

            <div class='border-radius-50 w-80 h-80 bg-size-cover bg-position-center' 
            :style="{
            'backgroundImage' : `url(${candidate.avatar})`
            }"></div>

            <div class='pl-3'>
              <nuxt-link class='bold text-pink-dark' :to="`/candidates/${candidate.code}`" >{{candidate.nickname}}</nuxt-link>
              <br/>
              <span class='is-small has-text-left'>Aktif {{candidate.last_login_alt}}</span>
            </div>

          </div>

  

          <nuxt-link to='/inbox_letters/create' class='bg-blue m-1 h-60 w-60 p-2 border-radius-50 flex flex-center'>
            <img src='/img/letter-write.png' class='w-30'>
          </nuxt-link>

    </div>

</section>
</template>

<script>
import {mapState} from 'vuex'
import Card from '~/components/inbox_letters/Card'
// import VueSwing from 'vue-swing'
import EmptyCard from '~/components/inbox_letters/EmptyCard'

export default {

  name: 'letters',
  components: { Card, EmptyCard},
  middleware : 'authenticated',
  computed: {
    ...mapState({
        inbox_id           : state => state.inbox_letters.inbox_id,
        letters            : state => state.inbox_letters.letters,
        letters_arr        : state => state.inbox_letters.letters_arr,
        letters_arr_index  : state => state.inbox_letters.letters_arr_index,

        candidate          : state => state.inbox_letters.candidate,
    })
  },
  created(){
    const params = { inbox_id : this.inbox_id, page: 1}
    this.$store.dispatch('inbox_letters/FETCH_LETTERS_FRESH', params)

    this.currentLetter()
  },
  methods:{

    throwoutleft(){
      //console.log('left')
    },
     throwout(){
      //console.log('out')
    },

    currentLetter(){
      let indexNo = this.letters_arr_index

      //console.log(`indexNo ${indexNo}`)

      //if got candidates in array card, return the candidate data with their index
      if(this.letters_arr){

        console.log(`letters[${indexNo}]`)
        console.log(this.letters_arr[indexNo])
        return this.letters_arr[indexNo]

      }
      
    },

    throwoutright(){
       this.$store.commit('inbox_letters/INCREMENT_LETTERS_ARR_INDEX')
    },
    throwin(){
     //increment the index array
       this.$store.commit('inbox_letters/INCREMENT_LETTERS_ARR_INDEX')
    },

    isEven(value) {
      if (value%10 == 0){return true } else{ return false }
    }

  }
  ,
  watch: {

    letters_arr_index(val){
      console.log("current value is " + val)

      if( this.isEven(val) == true ){
        console.log('load 10 more data')
        console.log("current page is "+this.letters.current_page)
          //load more data
          //must create new object because we cannot mutate vuex outside mutation
          let current_page = this.letters.current_page 
          let next_page = current_page +1
         

          let params = { 
            inbox_id : this.inbox_id,
            page: next_page
          }

          console.log("next page is " + next_page)

          this.$store.dispatch('inbox_letters/FETCH_LETTERS_APPEND', params)
      }

    },

  }
}
</script>

<style lang="css" scoped>
</style>