<template>
<div class='container flex flex-center flex-col flex-wrap justify-center h-80vh'>

    <h3 class="title text-white">Tukar Kata Laluan</h3>

    <div class="border-radius-10 bg-white w-500  w-90pc-mobile p-5">

      
      <span class='is-small has-text-left'>Kata Laluan Baru</span>
      <span class="help is-danger" v-if="!$v.password.required && submitStatus">This field is required</span>
      <input type='password' class='input' v-model='password' placeholder="kata laluan baru">

      <div class='is-small has-text-left mt-3'>Taip Semula Kata Laluan Baru</div>
      <span class="help is-danger" v-if="!$v.confirm_password.required && submitStatus">This field is required</span>
      <input type='password' class='input ' v-model='confirm_password' placeholder="taip semula kata laluan baru ">
        
      <div class='flex'>
        <button class='button bg-red text-white m-2' @click='checkForm()'>Confirm</button>
        
      </div>
              
    </div>

    <no-ssr>
      <modals-container/>
    </no-ssr>


</div>
</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
import {required} from 'vuelidate/lib/validators'

export default {

  name: 'ChangePassword',
  components : { ModalAlert},
  data(){
    return {
      password : '',
      confirm_password :'',
      submitStatus : false 
    }
  },
  validations: {
      password: {required},
      confirm_password: {required}
            
  },
  methods:{

    checkForm() {

                if (this.$v.$invalid) {
                    this.submitStatus = true
                } else {
                    this.submitStatus = false
                    this.submitForm()
                }

    },

    submitForm(){
      let data = { password : this.password, confirm_password : this.confirm_password}

      this.$store.dispatch('auth/CHANGE_PASSWORD', data)
      .then(res => {
  
        this.$modal.show(ModalAlert,{
          status: 'success', note: 'Kata Laluan Ditukar', extra: 'Sila login semula'
        })

        //after change password , logout
        this.$store.dispatch('auth/LOGOUT',{})
        this.$router.push('/misc/done_change_password')
      })
      .catch(err =>{

        this.$modal.show(ModalAlert,{
          status : 'error', note: 'Tidak Berjaya', extra: err
        })

      })


    }
  }
}
</script>

<style lang="css" scoped>
</style>