<template>
<div class='container flex flex-center flex-col flex-wrap justify-center h-80vh'>

    <h3 class="title text-white">Reset Password</h3>

    <div class="border-radius-10 bg-white w-500  w-90pc-mobile p-5">
                  
            <span class='is-small'>Email</span>
            <input
              v-model="email"
              class="input is-medium mb-2"
              type="email"
            >
                  
            <button
              class="button login is-block is-info is-medium is-fullwidth" 
              @click="reset()">Reset
            </button>
              
    </div>

</div>
</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'ResetPassword',
  components:{ ModalAlert},
  data () {
    return {
      email: ''
    }
  },
  methods:{

    reset(){
      this.$store.dispatch('auth/RESET_PASSWORD', { email : this.email})
      .then(res => {
                
        this.$modal.show(ModalAlert, 
        { note: "Reset Kata Laluan", status : 'success', extra : "Sila semak email untuk teruskan"},
        {height : "auto" ,width : "400px" })
        
        this.$router.push('/')
      })
      .catch(err =>{

        this.$modal.show(ModalAlert, 
        { note: "Reset Kata Laluan", status : 'error', extra : err},
        {height : "auto" ,width : "400px" })

      })
    }
    
  }
}
</script>

<style lang="css" scoped>
</style>