<template>
<section class='section container flex flex-col flex-center'>

  <div class='flex justify-between w-100pc w-500 w-100pc-mobile '>
    <button class='button bg-white' @click="$router.back()">
      <img src='/img/back.png' class='h-20'>
    </button>
     <button class='button is-danger'  @click='remove(notification.id)'>
      <img src='/svg/delete.svg' class='h-20'>
    </button>
  </div>

  <DetailLetter :notification='notification' />
  <DetailNews :notification='notification' />
  <DetailSalam :notification='notification' />

  <no-ssr>
              <modals-container/>
            </no-ssr>
            
</section>
</template>

<script>
import {mapState} from 'vuex'
import DetailLetter from '~/components/notifications/DetailLetter'
import DetailNews from '~/components/notifications/DetailNews'
import DetailSalam from '~/components/notifications/DetailSalam'
export default {

  name: 'show',
  components : { DetailLetter, DetailNews, DetailSalam},
  middleware : 'authenticated',
  computed: {
      ...mapState({
          notification: state => state.notifications.notification_show,
      })
  },
  created(){
    this.$store.dispatch('notifications/FETCH_NOTIFICATION_SHOW', this.$route.params.id)
    this.$store.dispatch('notifications/ACTION_READ_NOTIFICATION', this.$route.params.id)
    this.$store.dispatch('notifications/COUNT_UNREAD_ALL')
  },
  methods:{

    remove(id){

      this.$store.dispatch('notifications/ACTION_REMOVE', id)
      .then((res) => this.$router.push("/notifications") )

    }
  }
}
</script>

<style lang="css" scoped>
</style>