<template>
<section class='section container flex flex-col items-center justify-start h-min-80vh'>

   <Tab/>

   <div class=' w-500 w-100pc-mobile flex flex-col bg-white border-radius-10 m-1 p-3 clickable' 
        v-for='noty in notifications_arr'>

        <ListLetter :noty='noty'/>
        <ListNews :noty='noty'/>
        <ListSalam :noty='noty'/>
     
   </div>

   <button class='w-500 w-100pc-mobile button is-link m-1' 
   @click='loadMore(type)' v-if='load_more_status'>Load More</button>


</section>
</template>

<script>
import {mapState} from 'vuex'
import Tab from '~/components/notifications/Tab'
import ListLetter from '~/components/notifications/ListLetter'
import ListNews from '~/components/notifications/ListNews'
import ListSalam from '~/components/notifications/ListSalam'
export default {

  name: 'index',
  components : {Tab, ListLetter, ListNews, ListSalam},
  middleware : 'authenticated',
  computed: {
    ...mapState({
        notifications_arr   : state => state.notifications.notifications_arr,
        notifications_page  : state => state.notifications.notifications_page,
        current_type        : state => state.notifications.current_type,
        load_more_status    : state => state.notifications.notifications_load_more_status,
    })
  },
  created(){
  
    
    this.$store.commit('notifications/RESET_notifications_page')

    this.$store.dispatch('notifications/FETCH_NOTIFICATIONS_FRESH', this.parameters())
        // .finally(()=> this.loading = false)

    this.$store.dispatch('notifications/COUNT_UNREAD_ALL')

  },
  methods:{


    show(noty){
       this.$router.push(`/notifications/${noty.id}`)
    },

    parameters() {
            return {

                type: this.current_type,
                page: this.notifications_page,
                limit : 10,
            }
    },

    loadMore(){
      this.$store.commit('notifications/INCREMENT_notifications_page')
      this.$store.dispatch('notifications/FETCH_NOTIFICATIONS_APPEND',this.parameters())
    }

  }
  
}
</script>

<style lang="css" scoped>
</style>