<template>
	<section class="flex items-start justify-center flex-wrap h-min-80vh">
		<SingleCandidateCard :candidate="candidate" />

		<!-- extra info -->
		<div class="w-30pc w-90pc-tablet w-100pc-mobile">
			<Biodata :candidate="candidate" />
			<Favourite :candidate="candidate" />
		</div>

		<div class="w-30pc w-90pc-tablet w-100pc-mobile">
			<Personality :candidate="candidate" />
			<Partner :candidate="candidate" />
			<button
				class="m-3 w-90pc-tablet w-90pc-mobile button"
				@click="$modal.show('flag')"
			>BLOCK / REPORT</button>
		</div>

		<ModalFlag />

		<modals-container />
	</section>
</template>

<script>
	import { mapState } from "vuex";

	import SingleCandidateCard from "~/components/candidates/SingleCandidateCard";

	import Biodata from "~/components/candidates/Biodata";
	import Favourite from "~/components/candidates/Favourite";
	import Partner from "~/components/candidates/Partner";
	import Personality from "~/components/candidates/Personality";

	import ModalFlag from "~/components/candidates/ModalFlag";

	export default {
		name: "candidateByCode",
		components: {
			SingleCandidateCard,
			Biodata,
			Favourite,
			Partner,
			Personality,
			ModalFlag
		},
		middleware: "authenticated",
		computed: {
			...mapState({
				//current candidate
				candidate: state => state.candidates.candidate
			})
		},

		created() {
			this.$store.dispatch(
				"candidates/FETCH_CANDIDATE_BY_CODE",
				this.$route.params.code
			);

			// after all loaded can
			this.$nextTick(() => {
				this.$store.commit("UPDATE_LOADING", false);
			});
		},

		methods: {
			//end methods
		}
	};
</script>

<style lang="css" scoped>
</style>