<template>
	<section
		class="flex justify-center items-center-tablet items-center-mobile flex-col-mobile flex-col-tablet h-min-80vh position-relative"
	>
		<div class="flex justify-start flex-col w-100pc-mobile flex-center">
			<SingleCandidateCard :candidate="currentCandidate()" class="show_desktop hide-mobile" />

			<!-- dont show card if show detail in mobile -->
			<SingleCandidateCard
				:candidate="currentCandidate()"
				class="hide-desktop hide-tablet"
				:class="{ 'hide-mobile' : show_detail }"
			/>

			<CloseBio />
		</div>

		<!-- if end of the cards -->
		<EmptyCard v-if="candidates_arr_index == candidates_arr.length" />

		<!-- extra info -->
		<div
			:class="show_detail ? `show animated fadeInUp` : `hide`"
			class="w-30pc w-90pc-tablet w-100pc-mobile"
			v-if="candidates_arr_index != candidates_arr.length"
		>
			<Biodata :candidate="currentCandidate()" />
			<Favourite :candidate="currentCandidate()" />
		</div>

		<div
			:class="show_detail ? `show animated fadeInUp` : `hide`"
			class="w-30pc w-90pc-tablet w-100pc-mobile"
			v-if="candidates_arr_index != candidates_arr.length"
		>
			<Personality :candidate="currentCandidate()" />
			<Partner :candidate="currentCandidate()" />
			<Matching :candidate="currentCandidate()" />
			<button class="m-3 w-90pc button" @click="$modal.show('flag')">BLOCK / REPORT</button>
		</div>

		<no-ssr>
			<ModalFlag />
		</no-ssr>

		<no-ssr>
			<modals-container />
		</no-ssr>

		<!-- search button -->

		<!--  <div class='position-absolute w-60-mobile p-3 bg-white flex flex-col flex-center 
  border-radius-right animated fadeInLeft fast shadow' 
     style='top:20%;left:0; cursor: pointer'
    @click="$store.commit('candidates/TOGGLE_SHOW_SEARCH')"
    :class="show_search ? `hide` : `show`"
    >
      <img src='/svg/settings.svg' class='w-50 w-30-mobile'>
      <span class='font-size-12 text-black bold'>Tapis Calon</span>
  </div>

  <Search class='position-absolute border-radius-right' style='top:20%;left:0'
    :class="show_search ? `show animated fadeInLeft fast` : `hide`"
		/>-->

		<no-ssr>
			<Tour />
		</no-ssr>
	</section>
</template>

<script>
	import { mapState } from "vuex";
	import Search from "~/components/candidates/Search";
	import CandidateCard from "~/components/candidates/CandidateCard";
	import SingleCandidateCard from "~/components/candidates/SingleCandidateCard";
	import EmptyCard from "~/components/candidates/EmptyCard";
	import Biodata from "~/components/candidates/Biodata";
	import Favourite from "~/components/candidates/Favourite";
	import Partner from "~/components/candidates/Partner";
	import Personality from "~/components/candidates/Personality";
	import Matching from "~/components/candidates/Matching";
	import ModalFlag from "~/components/candidates/ModalFlag";
	import ShowDetail from "~/components/candidates/ShowDetail";

	import CloseBio from "~/components/candidate_actions/CloseBio";

	export default {
		name: "index",
		components: {
			Search,
			CandidateCard,
			SingleCandidateCard,
			Biodata,
			Favourite,
			Partner,
			EmptyCard,
			Personality,
			ModalFlag,
			ShowDetail,
			Matching,
			CloseBio,
			Tour: () => import("@/components/candidates/Tour.vue")
		},
		middleware: "authenticated",
		data() {
			return {
				showCard: false,
				config: {
					minThrowOutDistance: 100,
					maxThrowOutDistance: 200
				}
			};
		},
		computed: {
			...mapState({
				profile: state => state.auth.profile,

				//current candidate
				candidate: state => state.candidates.candidate,

				//action
				show_detail: state => state.candidates.show_detail,
				show_search: state => state.candidates.show_search,

				//candidates data
				candidates: state => state.candidates.candidates,
				candidates_arr: state => state.candidates.candidates_arr,
				candidates_arr_index: state =>
					state.candidates.candidates_arr_index,
				show_detail: state => state.candidates.show_detail,

				// filter
				filter_state_born: state => state.candidates.filter_state_born,
				filter_state_stay: state => state.candidates.filter_state_stay,
				filter_occupation: state => state.candidates.filter_occupation,
				filter_behavior_me: state => state.candidates.filter_behavior_me,

				//candidate card state
				is_card_appear: state => state.candidate_manage.is_card_appear,

				show_detail: state => state.candidates.show_detail
			})
		},

		created() {
			let params = {
				state_born: this.filter_state_born,
				state_stay: this.filter_state_stay,
				occupation: this.filter_occupation,
				behavior_me: this.filter_behavior_me,
				page: 1
			};

			this.$store.dispatch("candidates/FETCH_CANDIDATES_FRESH", params);

			// after all loaded can
			this.$nextTick(() => {
				this.$store.commit("UPDATE_LOADING", false);
			});
		},

		methods: {
			throwoutleft() {
				console.log("left");
				this.$store.commit("candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE");

				this.$store.commit("candidates/DECREMENT_CANDIDATES_ARR_INDEX");
				//adjust card appear state
			},

			throwout() {
				console.log("out");
				//this.$store.commit('candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE')

				//this.$store.commit('candidates/DECREMENT_CANDIDATES_ARR_INDEX')
			},

			throwoutright() {
				console.log("right");
				this.$store.commit("candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE");

				this.$store.commit("candidates/INCREMENT_CANDIDATES_ARR_INDEX");
				//adjust card appear state
			},
			throwin() {
				console.log("in");
				//this.$store.commit('candidate_manage/UPDATE_IS_CARD_APPEAR_FALSE')
				//increment the index array
				//this.$store.commit('candidates/INCREMENT_CANDIDATES_ARR_INDEX')
				//adjust card appear state
			},

			currentCandidate() {
				this.$store.commit("candidate_manage/UPDATE_IS_CARD_APPEAR", true);

				//if got candidates in array card, return the candidate data with their index
				if (this.candidates_arr) {
					const current_candidate = this.candidates_arr[
						this.candidates_arr_index
					];

					//update current candidate in the store
					this.$store.commit(
						"candidates/UPDATE_CANDIDATE",
						current_candidate
					);

					return current_candidate;
				}
			},

			isEven(value) {
				if (value % 10 == 0) {
					return true;
				} else {
					return false;
				}
			},

			appendMoreCards() {
				console.log("load 10 more data");
				console.log("current page is " + this.candidates.current_page);
				//load more data
				//must create new object because we cannot mutate vuex outside mutation
				let current_page = this.candidates.current_page;
				let next_page = current_page + 1;

				let params = {
					state_born: this.filter_state_born,
					state_stay: this.filter_state_stay,
					occupation: this.filter_occupation,
					behavior_me: this.filter_behavior_me,
					page: next_page
				};

				console.log("next page is " + next_page);

				this.$store.dispatch("candidates/FETCH_CANDIDATES_APPEND", params);
			},

			userNotSubscribed() {
				//if not subscribed return true
				if (this.profile.subscribe === null) {
					return true;
				}
				return false;
			}
		},
		watch: {
			candidates_arr_index(val) {
				console.log("current value is " + val);

				//load more cards when data is 10, 20...
				if (this.isEven(val) == true) {
					this.appendMoreCards();
				}

				//if user not paid limit to 14 cards only and redirect to upgrade
				if (val == 100 && this.userNotSubscribed()) {
					console.log("val dah 14 and tak bayar lagi");
					this.$store.dispatch("candidates/FETCH_CANDIDATES_FRESH", {});
					this.$store.commit(
						"subscribe/UPDATE_LIMIT_NOTE",
						"Anda telah melepasi had limit senarai calon. Naik taraf sekarang"
					);
					this.$router.push("/promo/limit");
				}
			}
		}
	};
</script>

