<template>
<div>
    
    <Completion :profile='profile'/>

    <CheckEmailVerified :profile='profile'/>

    <section class='flex justify-center items-center-tablet items-center-mobile flex-col-mobile flex-col-tablet h-min-80vh'>  

      <Card :profile='profile'/>

      <div class="show animated fadeInUp w-30pc w-90pc-tablet w-100pc-mobile">
        <Biodata/>
         <Fav/>
      </div>

      <div class="show animated fadeInUp w-30pc w-90pc-tablet w-100pc-mobile">
        <Personality />
        <PersonalityCandidate />
        <Trial/>
        <Premium/>
        <Account/>
      </div>

      <no-ssr>
        <modals-container/>
      </no-ssr>

    </section>
</div>
</template>

<script>
import {mapState } from 'vuex'
import Card from '~/components/profile/Card'
import Biodata from '~/components/profile/Biodata'
import CheckEmailVerified from '~/components/profile/CheckEmailVerified'
import Fav from '~/components/profile/Fav'
import Personality from '~/components/profile/Personality'
import PersonalityCandidate from '~/components/profile/PersonalityCandidate'
import Trial from '~/components/profile/Trial'
import Premium from '~/components/profile/Premium'
import Account from '~/components/profile/Account'
import Completion from '~/components/profile/Completion'
export default {

  name: 'my_profile',
  components: { Card, Biodata, Fav,Personality, PersonalityCandidate, Account,Completion, Trial, Premium, CheckEmailVerified},
  middleware : 'authenticated',
 computed:{

    ...mapState({

         profile            : state => state.auth.profile,
         
      })
  },
  created(){  

    this.$store.dispatch('auth/FETCH_PROFILE')

    //load lookup
    this.$store.cache.dispatch('lookup/FETCH_GOOD')
    this.$store.cache.dispatch('lookup/FETCH_BAD')
    this.$store.cache.dispatch('lookup/FETCH_FOODS')
    this.$store.cache.dispatch('lookup/FETCH_HOBBIES')
    this.$store.cache.dispatch('lookup/FETCH_GENRES')
    this.$store.cache.dispatch('lookup/FETCH_SPORTS')
    this.$store.cache.dispatch('lookup/FETCH_TOPICS')
  }
}
</script>

<style lang="css" scoped>
</style>