<template>
	<section class="section container flex flex-col flex-center">
		<h1 class="title text-white">Lengkapkan Profil</h1>
		<div class="w-600 w-90pc-mobile">
			<Stepper />
		</div>

		<Intro v-if="step1" />
		<Biodata v-if="step2" />
		<Photo v-if="step3" />
		<Personality v-if="step4" />
		<Candidate v-if="step5" />
		<Favourite v-if="step6" />

		<no-ssr>
			<modals-container />
		</no-ssr>
	</section>
</template>

<script>
	import { mapState } from "vuex";
	import Stepper from "~/components/profile_wizard/Stepper";
	import Intro from "~/components/profile_wizard/Intro";
	import Biodata from "~/components/profile_wizard/Biodata";
	import Favourite from "~/components/profile_wizard/Favourite";
	import Personality from "~/components/profile_wizard/Personality";
	import Candidate from "~/components/profile_wizard/Candidate";
	import Photo from "~/components/profile_wizard/Photo";

	export default {
		name: "wizard",
		components: {
			Stepper,
			Photo,
			Biodata,
			Intro,
			Favourite,
			Personality,
			Candidate
		},
		middleware: ["authenticated", "profile_completed"],
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				is_profile_completed: state =>
					state.auth.profile.is_profile_completed,
				step1: state => state.profile_wizard.step1,
				step2: state => state.profile_wizard.step2,
				step3: state => state.profile_wizard.step3,
				step4: state => state.profile_wizard.step4,
				step5: state => state.profile_wizard.step5,
				step6: state => state.profile_wizard.step6
			})
		},
		created() {
			this.$store.dispatch("auth/FETCH_PROFILE");

			//load lookup
			this.$store.cache.dispatch("lookup/FETCH_GOOD");
			this.$store.cache.dispatch("lookup/FETCH_BAD");
			this.$store.cache.dispatch("lookup/FETCH_FOODS");
			this.$store.cache.dispatch("lookup/FETCH_HOBBIES");
			this.$store.cache.dispatch("lookup/FETCH_GENRES");
			this.$store.cache.dispatch("lookup/FETCH_SPORTS");
			this.$store.cache.dispatch("lookup/FETCH_TOPICS");

			// after all loaded can
			this.$nextTick(() => {
				this.$store.commit("UPDATE_LOADING", false);
			});
		},
		watch: {
			is_profile_completed(newValue, oldValue) {
				console.log(`Updating from ${oldValue} to ${newValue}`);

				//redirecting
				if (newValue === true) {
					this.$router.push("/candidates");
				}
			}
		}
	};
</script>

<style lang="css" scoped>
</style>