<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white mb-0'>Tukar Password</h1>
      
      <span class='is-small text-white mb-3'>Password berjaya ditukar, sila login semula</span>

      <nuxt-link to='/login' class='button is-info'>Login Semula </nuxt-link>

  </div>
</template>

<style lang="css" scoped>
</style>