<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white mb-0'>Pendaftaran berjaya</h1>
      
      <span class='is-small text-white mb-3'>Sila login untuk mengemaskini maklumat anda</span>
      
       <div class='flex flex-col flex-center '>
            
            <div class="border-radius-10 bg-white w-500  w-100pc-mobile p-4">
                  
                    <span class='is-small'>Email</span>
                    <input
                      v-model="email"
                      class="input is-medium mb-2"
                      type="email"
                    >

                    <span class='is-small'>Password</span>
                    <input
                      v-model="password"
                      class="input is-medium mb-2"
                      type="password"
                    >

            
                <button
                  class="button login is-block is-info is-medium is-fullwidth" 
                  @click="login()">Login
                </button>

                <!-- <div class='my-3 has-text-centered'><hr></div> -->


                <!-- <fb-signin-button class='button mt-2 is-medium is-fullwidth is-link'
                :params="fbSignInParams"
                @success="onSignInSuccess"
                @error="onSignInError">
                Sign in with Facebook
              </fb-signin-button> -->
              
            </div>
            
            <div class='mt-2'>


              <nuxt-link to='/register' class='text-white bold'>
               Pendaftaran
              </nuxt-link> 

              <span class='mx-2'>|</span>

               <nuxt-link to='/auth/reset-password' class='text-white '>
                  Terlupa Password?
              </nuxt-link>

            </div>

    </div>


       <no-ssr>
        <modals-container/>
      </no-ssr>
   
  </div>
</template>


<script>
import ModalAlert from '~/components/helpers/ModalAlert'
// import FBSignInButton from 'vue-facebook-signin-button'
// import Vue from 'vue'

// Vue.use(FBSignInButton)


export default {
  name: 'Login',
  components : { ModalAlert},

  data() {
    return {
      email: null,
      password: null
    }
  },
  mounted(){

  },
  methods: {

    login() {

      this.$store.dispatch('auth/LOGIN', {
          email: this.email,
          password: this.password
      })
      .then(res => {
          this.$store.commit('auth/UPDATE_EMAIL_AUTH', true)
            

          if(res.data.user.is_profile_completed){

            // this.$modal.show(ModalAlert, 
            //  { note: "Berjaya Login", status : 'success',
            //   extra : "Teruskan misi pencarian jodoh anda"},
            //   {
            //   height : "auto" ,
            //   width : "400px" ,
            //   adaptive : true 
            // })

            this.$router.push('/candidates')


          }else{

            this.$modal.show(ModalAlert, 
             { note: "Berjaya Login tapi...", status : 'warning',
              extra : "Anda harus lengkapkan profil sebelum dapat akses penuh ke calon-calon"},
              {
              height : "auto" ,
              width : "400px" ,
              adaptive : true 
            })

            this.$router.push('/profile/wizard')
          }
      })
      .catch(err => {
        //console.log(err)
        // this.$swal('Error', "Wrong email /password", 'error') 
        this.$modal.show(ModalAlert, 
         { note: "Error", status : 'error', extra : err},{
              height : "auto" ,
              width : "400px" ,
              adaptive : true 
            })
      })


    },

    onSignInSuccess (response) {

      //call FB api to get basic profile
      FB.api('/me', { fields : 'email,name'}, dude => {
          
         //register api via social

         //redirect to profile



      })
    },


    onSignInError (error) {
      console.log('OH NOES', error)
    }
  }
}
</script>

<style lang="css" scoped>
</style>