<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white mb-0'>Permintaan Reset Password</h1>
      
      <span class='is-small text-white mb-3'>Sila semak email untuk reset password</span>

   
  </div>
</template>

<style lang="css" scoped>
</style>