<template>


     <!-- readed letter by receipent or from sender  -->
    <div class='flex flex-col justify-start bg-size-cover letter p-3 position-relative w-500 w-90pc-mobile h-min-400  h-60vh-mobile border-radius-10' 
      :style="{
            'backgroundImage' : `url(${letter.background.file_url})`
          }"
    v-if='letter'
     >

        <div class='text-black bg-white position-absolute p-2 border-radius-10'
        style='top:10px; right:10px' 
        v-if='letters_arr_index != letters_arr.length'>
         {{letters_arr_index+1}} / {{ letters.total}}
       </div>

        <!-- back button -->
        <div class='position-absolute' style='top:45%; left:-10px' 
            @click='prevLetter()'  
            v-if='letters_arr_index!=0'>
            <img src='/img/back.png' style='height: 30px'>
        </div>

        <!-- next button -->
        <div class='position-absolute' 
            style='top:45%; right:-10px' 
            @click='nextLetter()'
            >
            <img src='/img/next.png' style='height: 30px'>
        </div>


        <span class='font-size-20 line-height-1'>Daripada: <span class='bold'>{{ letter.user.nickname}} </span></span>
        <span class='font-size-20'>{{ letter.created_at_alt}}</span>

        <div class='has-text-centered  font-size-24 mt-3' style='overflow-y: scroll; white-space: pre-wrap;' 
        v-html='letter.message'>
        </div>

    </div>


</template>

<script>
// import Salam from '~/components/candidate_actions/Salam'
import {mapState} from 'vuex'
export default {

  name: 'Card',
  // components: { Salam, Bookmark},
  props : ['letter'],
  computed: {
    ...mapState({
      
        letters_arr_index: state => state.inbox_letters.letters_arr_index,
        profile        : state => state.auth.profile,
        letters            : state => state.inbox_letters.letters,
        letters_arr        : state => state.inbox_letters.letters_arr,
    })
  },
  methods:{

    nextLetter(){
       this.$store.commit('inbox_letters/INCREMENT_LETTERS_ARR_INDEX')
     },

     prevLetter(){
       this.$store.commit('inbox_letters/DECREMENT_LETTERS_ARR_INDEX')
     },

     readLetter(id){
      this.$store.dispatch('inbox_letters/ACTION_READ_LETTER', id)
     }

  }
 

}
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.letter{
  font-family: 'Caveat', cursive;
}
</style>