<template>
<div class='h-400 w-300 m-3 flex flex-col flex-center shadow border-radius-10  p-5'>

    <!-- <img src='/svg/finish.svg' class='w-100'/> -->
    <p class='font-size-30 mb-0 bold text-white'>Minta maaf!</p>
    <p class='font-size-16 text-white has-text-centered'>Anda mencapai penghujung surat</p>

    <nuxt-link to='/inbox' class='button bg-pink-dark text-white'>
      Kembali ke Peti Surat
    </nuxt-link>

</div>
</template>

<script>
export default {

  name: 'EmptyCard',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>