<template>
	<div class="h-min-100vh">
		<Header />

		<!-- <no-ssr>
           <script src="//code.jivosite.com/widget.js" data-jv-id="KbWs3MA31k" async></script>
		</no-ssr>-->

		<no-ssr>
			<modals-container />
		</no-ssr>

		<no-ssr>
			<Loader v-if="loading" />
		</no-ssr>

		<nuxt style="padding-bottom: 100px" />

		<BurgerMenu v-if="profile.is_profile_completed" />
		<NavMobile v-if="profile.is_profile_completed" />
	</div>
</template>

<script>
	import Header from "~/components/layouts/Header"
	import NavMobile from "~/components/layouts/NavMobile"
	import BurgerMenu from "~/components/layouts/BurgerMenu"
	import Loader from "~/components/helpers/Loader"
	import { mapState } from "vuex"

	export default {
		computed: {
			...mapState({
				profile: state => state.auth.profile,
				loading: state => state.loading
			})
		},
		components: {
			Header,
			NavMobile,
			Loader,
			BurgerMenu
		}
	}
</script>



<style lang="scss" >
	@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");

	body,
	html {
		font-family: "Poppins", sans-serif;

		/*pink */
		/*background-image: linear-gradient(120deg, #c471f5 0%, #fa71cd 100%);*/

		/*green*/
		background-image: linear-gradient(120deg, #2af598 0%, #009efd 100%);

		/*white */
		/*background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);*/

		background-attachment: fixed;
	}

	input,
	textarea {
		font-family: "Montserrat", sans-serif;
	}
</style>