<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white'>Transaksi Gagal</h1>

      <p class='bg-white p-5 border-radius-20 w-400 w-90pc-mobile'>
          Minta maaf, transaksi tidak berjaya.  <br/><br/>
          Sila hubungi kami jika anda menghadapi masalah dengan pembayaran
      </p>
  </div>
</template>

<script>
export default {

  name: 'failed',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>