<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white'>Sedang memproses..</h1>

      <img src='/svg/loading.svg' class='h-200' >
      
  </div>

</template>

<script>
export default {

  name: 'index',

  created(){

    this.redirectPage()

    // setInterval(this.redirectPage, 1000)
  
    //end created 
  },

  methods:{

      redirectPage(){

          let queries = this.$route.query;
   
          for(let x in queries){

            if (x == 'billplz[id]'){
               
               let bill_id = queries[x]
               

               this.$store.dispatch('subscribe/ACTION_CHECK_BILL', bill_id)
               .then(res => res.data)
               .then(bill => {

                  //store bill
                  let params = { 
                  
                    id            : bill.id, 
                    collection_id : bill.collection_id,
                    //user id
                    reference_1   : bill.reference_1,
                    //days
                    reference_2   : bill.reference_2,

                    //amount etc
                    amount      : bill.amount,
                    paid_amount : bill.paid_amount,
                    paid        : bill.paid,
                    paid_at     : bill.paid_at,
                    description : bill.description
                  }

                  this.$store.dispatch('subscribe/ACTION_STORE', params) 

                  if(bill.paid){
                    this.$router.push('/transactions/success')
                  }else{
                     this.$router.push('/transactions/failed')
                  }

                })


               
            }


            // this.$router.push('/transactions/process')
          }


        
      }

  //end method
  }
}
</script>

<style lang="css" scoped>
</style>