<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white'>Akaun Diproses</h1>

      <div class='bg-white p-5 border-radius-20 w-400 w-90pc-mobile'>

         <p>Akaun anda akan di naik taraf ke Premium dalam masa terdekat selepas bayaran telah dilakukan.</p>

         <p class='pt-2'>Jika akaun masih belum dikemaskini dalam masa 2 jam sila hubungi admin di kopiaman@yahoo.com</p>
  
         <nuxt-link class='button is-link mt-3' to='/login'>Login Semula</nuxt-link>

         <p class='is-small pt-3'>Nota: Team kami sedang membangunkan proses naik taraf secara automatik. Jadi buat masa sekarang kami akan kemas kini secara manual. Maaf atas kesulitan</p>



      </div>
      
  </div>

</template>

<script>
export default {

  name: 'process',
}
</script>

<style lang="css" scoped>
</style>