<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white'>Transaksi Berjaya</h1>

      <p class='bg-white p-5 border-radius-20 w-400 w-90pc-mobile'>
         Transaksi anda berjaya diterima. <br/><br/>

         Sila semak email anda untuk mendapatkan resit pembayaran.
      </p>
  </div>
</template>

<script>
export default {

  name: 'success',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>