<template>
	<div class="h-min-100vh container flex flex-col w-100pc-mobile">
		<div class="flex flex-col-mobile flex-center">
			<img src="/img/cards.png" class="w-600 w-100pc-mobile mr-5 animated fadeInLeft slow hide-mobile" />

			<div class="flex flex-col flex-center h-40vh-mobile">
				<div class="px-3">
					<vue-typed-js
						:strings="[
							'Masih mencari jodoh?',
							'Tak jumpa pasangan yang sesuai?',
							'Suajodoh memberikan skor keserasian terhadap calon pasangan anda'
						]"
					>
						<h1 class="typing mb-0 title text-white has-text-centered"></h1>
					</vue-typed-js>
				</div>

				<div class="flex flex-col animated fadeInUp delay-07s pt-3">
					<no-ssr>
						<FacebookLogin />
					</no-ssr>

					<nuxt-link
						to="login"
						class="bg-white text-black is-small h-40 w-300 mt-1 border-radius-5 has-text-centered flex flex-center"
					>
						<img src="/svg/letter.svg" class="h-20 mr-2" />
						Sign in With Email
					</nuxt-link>
				</div>
			</div>

			<img src="/img/cards_mobile.png" class="pt-5 animated fadeInLeft slow hide-desktop hide-tablet" />
		</div>

		<no-ssr>
			<modals-container />
		</no-ssr>
	</div>
</template>

<script>
	import Advantage from "~/components/index/Advantage"
	import FacebookLogin from "~/components/index/FacebookLogin"
	import ModalAlert from "~/components/helpers/ModalAlert"
	import { mapState } from "vuex"
	import Vue from "vue"
	import VueTypedJs from "vue-typed-js"

	Vue.use(VueTypedJs)

	export default {
		name: "index",
		components: { Advantage, ModalAlert, FacebookLogin },
		computed: {
			...mapState({
				api_token: state => state.auth.api_token
			})
		},
		created() {
			this.getSource()
			this.getReferral()
		},
		methods: {
			getSource() {
				if (
					process.client &&
					//must have utm source or google gclid to get source of traffic
					(this.$route.query.utm_source || this.$route.query.gclid)
				) {
					//if got google ads
					if (this.$route.query.gclid) {
						localStorage.setItem("utm_source", "google")
						localStorage.setItem("utm_medium", "ads")
					} else {
						//facebook, newsletter, whatsapp
						let utm_source = this.$route.query.utm_source
						localStorage.setItem("utm_source", utm_source)

						//group, paid, video, chat, banner, email,
						let utm_medium = this.$route.query.utm_medium
						localStorage.setItem("utm_medium", utm_medium)

						//comment, PM, spring_sale, valentine day, anytime, weekend
						let utm_campaign = this.$route.query.utm_campaign
						localStorage.setItem("utm_campaign", utm_campaign)

						// Used for A/B testing and content-targeted ads. differentiate ads or links that point to the same URL.
						// Examples: skema, ayat-2, ayat_direct, banner-2,
						let utm_content = this.$route.query.utm_content
						localStorage.setItem("utm_content", utm_content)
					}

					//example:-
					//for direct PM  ?utm_source=facebook&utm_medium=group&utm_campaign=PM&utm_content=ayat1
					//for FB ads  ?utm_source=facebook&utm_medium=ads&utm_campaign=anytime&utm_content=masih_mencari_jodoh
					//for google ads  ?utm_source=google&utm_medium=ads&utm_campaign=anytime&utm_content=masih_mencari_jodoh
				}
			},
			getReferral() {
				if (process.client && this.$route.query.refcode) {
					let refcode = this.$route.query.refcode
					localStorage.setItem("refcode", refcode)
				}
			}
		}
	}
</script>
