<template>
    <section class='section container flex flex-col flex-center h-min-80vh'>

            <h3 class="title text-white">Login</h3>
            
            <div class="border-radius-10 bg-white w-500  w-100pc-mobile p-4">
                  
                    <span class='is-small'>Email</span>
                    <input
                      v-model="email"
                      class="input is-medium mb-2"
                      type="email"
                    >

                    <span class='is-small'>Password</span>
                    <input
                      v-model="password"
                      class="input is-medium mb-2"
                      type="password"
                    >

            
                <button
                  class="button login is-block is-info is-medium is-fullwidth" 
                  @click="login()">Login
                </button>

             
              
              
            </div>
            
            <div class='mt-2'>


              <nuxt-link to='/register' class='text-white bold'>
               Pendaftaran Baru
              </nuxt-link> 

              <span class='mx-2'>|</span>

               <nuxt-link to='/auth/reset-password' class='text-white '>
                  Terlupa Password?
              </nuxt-link>

            </div>

             <no-ssr>
              <modals-container/>
            </no-ssr>

    </section>
</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
// import FBSignInButton from 'vue-facebook-signin-button'
// import Vue from 'vue'

// Vue.use(FBSignInButton)


export default {
  name: 'Login',
  components : { ModalAlert},

  data() {
    return {
      email: null,
      password: null
    }
  },
 
  methods: {

    login() {

      this.$store.dispatch('auth/LOGIN', {
          email: this.email,
          password: this.password
      })
      .then(res => {
          this.$store.commit('auth/UPDATE_EMAIL_AUTH', true)
            

          if(res.data.user.is_profile_completed){
           
            this.$router.push('/candidates')

          }else{
            this.$router.push('/profile/wizard')
          }
      })
      .catch(err => {
        
        this.$modal.show(ModalAlert, 
         { note: "Error", status : 'error', extra : err},{
              height : "auto" ,
              width : "400px" ,
              adaptive : true 
            })
      })


    }

   

  }
}
</script>

<style scoped>
</style>
