<template>
<div>
<a href="https://www.iubenda.com/privacy-policy/44134079" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

</div>
</template>

<script>
export default {

  name: 'policy',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>