<template>
	<section class="section container flex flex-col flex-center">
		<h3 class="title text-white">Pendaftaran</h3>

		<div class="shadow border-radius-10 bg-white w-500 w-100pc-mobile p-3 flex flex-col">
			<span class="is-small mt-2 bold">Nama Samaran Profil</span>
			<div
				class="has-text-danger is-small"
				v-if="!$v.nickname.required && submitStatus"
			>This Field is required</div>

			<input v-model="nickname" class="input is-medium" type="text" />

			<span class="is-small mt-2 bold">Email</span>
			<div
				class="has-text-danger is-small"
				v-if="!$v.email.required && submitStatus "
			>This Field is required</div>
			<div class="has-text-danger is-small" v-if="!$v.email.email && submitStatus">Must use valid email</div>

			<input v-model="email" class="input is-medium" type="email" />

			<span class="is-small mt-2 bold">Kata Laluan</span>
			<div
				class="has-text-danger is-small"
				v-if="!$v.password.required && submitStatus"
			>This Field is required</div>
			<div
				class="has-text-danger is-small"
				v-if="!$v.password.minLength && submitStatus"
			>At least 6 letter</div>
			<input v-model="password" class="input is-medium" type="password" />

			<div class="flex flex-center my-3">
				<div
					class="has-text-danger is-small"
					v-if="!$v.terms.required && submitStatus"
				>You must accept the T&C</div>

				<input type="checkbox" v-model="terms" class="mr-3" />
				<span class="is-small">
					Saya bersetuju dengan polisi dan syarat penggunaan platform ini -
					<a
						href="https://www.iubenda.com/privacy-policy/44134079"
						class="iubenda-white iubenda-embed"
						title="Privacy Policy "
					>Privacy Policy</a>

					<no-ssr>
						<script type="text/javascript">
	;(function(w, d) {
		var loader = function() {
			var s = d.createElement("script"),
				tag = d.getElementsByTagName("script")[0]
			s.src = "https://cdn.iubenda.com/iubenda.js"
			tag.parentNode.insertBefore(s, tag)
		}
		if (w.addEventListener) {
			w.addEventListener("load", loader, false)
		} else if (w.attachEvent) {
			w.attachEvent("onload", loader)
		} else {
			w.onload = loader
		}
	})(window, document)
						</script>
					</no-ssr>
				</span>
			</div>

			<button class="button is-block is-info is-medium is-fullwidth" @click="submitForm()">Daftar</button>
		</div>

		<div class="flex justify-center mt-3">
			<nuxt-link to="/login" class="text-white">Login</nuxt-link>

			<span class="mx-3">|</span>

			<nuxt-link to="/auth/reset-password" class="text-white">Terlupa Password</nuxt-link>
		</div>
	</section>
</template>

<script>
	import { required, minLength, email, sameAs } from "vuelidate/lib/validators"
	import ModalAlert from "~/components/helpers/ModalAlert"

	export default {
		name: "Register",
		components: { ModalAlert },
		data() {
			return {
				email: null,
				nickname: null,
				// name: null,
				password: null,
				// gender : null,
				terms: null,
				submitStatus: false
			}
		},
		validations: {
			email: {
				required,
				email
			},

			nickname: {
				required
			},
			terms: {
				required
			},
			password: {
				required,
				minLength: minLength(6)
			}
		},
		methods: {
			submitForm() {
				if (this.$v.$invalid) {
					this.submitStatus = true
				} else {
					this.submitStatus = false
					// loading time
					this.$store.commit("UPDATE_LOADING", true)

					this.register()
				}
			},

			register() {
				let data = {
					// name      : this.name,
					email: this.email,
					// gender     : this.gender,
					nickname: this.nickname,
					password: this.password
				}

				data = this.appendUTM(data)

				this.$store
					.dispatch("auth/REGISTER", data)
					.then(res => {
						//this.$router.push('/misc/registered')
						let user = res.data.user
						return user
					})
					.then(user => {
						this.$store
							.dispatch("auth/LOGIN", {
								email: this.email,
								password: this.password
							})
							.then(reslogin => {
								this.$store.commit("auth/UPDATE_EMAIL_AUTH", true)

								if (reslogin.data.user.is_profile_completed) {
									this.$router.push("/candidates")
								} else {
									this.$router.push("/profile/wizard")
								}

								//end reslogin
							})

						//end user
					})
					.catch(err => {
						this.submitStatus = true
						//console.log(err.message)
						console.log(err)

						this.$modal.show(
							ModalAlert,
							{ note: "Error", status: "error", extra: err },
							{
								height: "auto",
								width: "400px",
								adaptive: true
							}
						)
					})
			},

			appendUTM(data) {
				if (window.localStorage) {
					if (
						localStorage.getItem("utm_source") != "undefined" &&
						localStorage.getItem("utm_source") != ""
					) {
						data.utm_source = localStorage.getItem("utm_source")
						data.utm_medium = localStorage.getItem("utm_medium")
						data.utm_campaign = localStorage.getItem("utm_campaign")
						data.utm_content = localStorage.getItem("utm_content")
					}
				} else {
					// alert('ls does not exist');
				}

				return data
			}
		}
	}
</script>
