<template>
<div class='container flex flex-center flex-col justify-center h-80vh'>

  <CompareTable />

</div>
</template>

<script>
import CompareTable from '~/components/promo/CompareTable'
export default {

  name: 'compare',
  components : { CompareTable},
  middleware : 'authenticated',
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>