<template>
  <div class="h-min-80vh container section flex flex-col flex-center animated fadeInUp has-text-centered">
      
      <h1 class='title text-white'>Minta maaf</h1>

      <h2 class='subtitle text-white'>{{ limit_note }}</h2>

      <CompareTable :showUpgradeButton='true'/>

      <!-- <Package/> -->


  </div>

</template>
<script>
import CompareTable from '~/components/promo/CompareTable'
import Package from '~/components/promo/Package'
import {mapState} from 'vuex'

export default {

  name: 'limit',
  components : { Package, CompareTable},
  middleware : 'authenticated',
  computed: {
      ...mapState({
          limit_note: state => state.subscribe.limit_note,
      })
  }
}
</script>
