<template>
  <div class="h-min-80vh container section flex flex-col flex-center animated fadeInUp has-text-centered">
      
      <h1 class='title text-white'>Naik taraf</h1>

      <Package/>


  </div>

</template>
<script>
import CompareTable from '~/components/promo/CompareTable'
import Package from '~/components/promo/Package'
export default {

  name: 'packages',
  components : { Package, CompareTable},
  middleware : 'authenticated',
  data () {
    return {

    }
  }
}
</script>
