<template>
<div class='container flex flex-center flex-col justify-center h-80vh has-text-centered'>

    <h3 class="title text-white mt-5">Percubaan Percuma</h3>

    <div class='w-400' v-if='!profile.is_profile_completed'>
        Anda perlu lengkapkan profile untuk mendapatkan trial 
    </div>

    <div class="w-400" v-if='profile.is_profile_completed'>

        Anda akan mendapat akses penuh selama 30 hari. 

        Sila klik butang di bawah untuk teruskan.
     
        <button class='button is-link m-2' @click='submit()'>Confirm</button>
              
    </div>

    <!-- <CompareTable/> -->

    <no-ssr>
      <modals-container/>
    </no-ssr>

</div>
</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
import CompareTable from '~/components/promo/CompareTable'
import {required} from 'vuelidate/lib/validators'
import {mapState} from 'vuex'

export default {

  name: 'Trial',
  components : { ModalAlert, CompareTable},
  middleware : 'authenticated',
  computed: {
      ...mapState({
          profile: state => state.auth.profile,
      })
  },
  methods:{

    
    submit(){
      
      let params = { days : 30}

      this.$store.dispatch('subscribe/ACTION_TRIAL', params)
      .then(res => {
  
        this.$modal.show(ModalAlert,{
          status: 'success', note: 'Proses Berjaya', extra: 'Akaun anda telah mendapat percubaan percuma selama sebulan'
        })

        this.$router.push('/profile')
      })
      .catch(err =>{

        this.$modal.show(ModalAlert,{
          status : 'error', note: 'Tidak Berjaya', extra: err
        })

      })


    }
  }
}
</script>