<template>
  <div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title'>Naik taraf ke <span class='text-orange bg-white p-2 border-radius-10'>Premium</span></h1>

      <CompareTable :showUpgradeButton='true' />
      <!-- <Package/> -->

  </div>
</template>

<script>
import CompareTable from '~/components/promo/CompareTable'
import Package from '~/components/promo/Package'
export default {

  name: 'upgrade',
  components : { Package,CompareTable },
  middleware : 'authenticated',
}
</script>
