<template>
  <form @submit.prevent="login">
    <section class='section container flex flex-col flex-center'>

            <h3 class="title">Login</h3>
            
            <div class="shadow border-radius-10 bg-white w-500  w-100pc-mobile p-5">
                  
                    <span class='is-small'>Email</span>
                    <input
                      v-model="email"
                      class="input is-medium mb-2"
                      type="email"
                    >

                    <span class='is-small'>Password</span>
                    <input
                      v-model="password"
                      class="input is-medium mb-2"
                      type="password"
                    >

            
                <button
                  class="button login is-block is-info is-medium is-fullwidth" 
                  @click="login()">Login
                </button>
              
            </div>
            
            <div class='mt-2'>


              <nuxt-link to='/recruiter/register' class='has-text-link bold'>
               New Registration
              </nuxt-link> 

              <span class='mx-2'>|</span>

               <nuxt-link to='/recruiter/forgot_password' class='has-text-link '>
                  Forgot Password?
              </nuxt-link>

            </div>

          

    </section>
  </form>
</template>

<script>

export default {
  name: 'Login',
 

  data() {
    return {
      email: null,
      password: null
    }
  },
  methods: {

    login() {

      this.$store.dispatch('auth/LOGIN', {
          email: this.email,
          password: this.password
      })

      .then(res => {

          console.log(res)
      })
      .catch(err => {
        console.log(err)
        // this.$swal('Error', "Wrong email /password", 'error') 
      })


    }
  }
}
</script>

<style scoped>
.img-avatar {
  max-width: 10rem;
}
</style>
