<template>
<!-- <modal name="success" height="auto" width="400px" :adaptive='true' > -->
      <div class='h-min-200 p-5 has-text-centered flex flex-col flex-center animated fadeInUp'>

        <img src='/svg/success.svg' class='h-100' v-if="status=='success'">
        <img src='/svg/close.svg' class='h-100' v-else>
        <!-- <p class='bold'> Success</p> -->
        <span class='bold mt-2'>{{ note}}</span>
        <span class='is-small'>{{ extra}}</span>

      </div>
<!-- </modal>  -->
</template>

<script>
export default {

  name: 'success',
  //props : [ 'note', 'extra']
  props : {
    note : {
      type : String,
      default : 'Berjaya '
    },
    extra : {
      type : String,
      default : ' '
    },
    status :{
      type : String,
      default : 'success'
    }
  }
}
</script>

<style lang="css" scoped>
</style>