<template>
	<div
		v-if="burger_menu"
		class="position-fixed w-100pc h-min-100 p-2 flex flex-col flex-wrap flex-center is-small animated fadeInUp"
		style="bottom:6em"
	>
		<div
			class="bg-grey bold flex flex-center border-radius-10 shadow h-40 w-200 m-1 clickable"
		>Lapor Masalah/Bug</div>
		<div class="bg-grey bold flex flex-center border-radius-10 shadow h-40 w-200 m-1 clickable">FAQ</div>
		<div
			class="bg-grey bold flex flex-center border-radius-10 shadow h-40 w-200 m-1 clickable"
		>Naik taraf Akaun</div>
		<div
			class="bg-grey bold flex flex-center border-radius-10 shadow h-40 w-200 m-1 clickable"
		>Log Out</div>
	</div>
</template>

<script>
	import { mapState } from "vuex"
	export default {
		name: "burgerMenu",
		computed: {
			...mapState({
				burger_menu: state => state.burger_menu
			})
		}
	}
</script>

<style>
</style>