<template>
  <div>
    <div v-if='!$store.state.auth.api_token'>
      <HeaderTop/>
    </div>
    <!-- <Nav class='hide-mobile hide-tablet'/> -->
    
    <!-- <HeaderTitle v-if="$route.path!='/'"/> -->
  </div>
</template>

<script>
import HeaderTop from '~/components/layouts/HeaderTop'
import HeaderTitle from '~/components/layouts/HeaderTitle'
import Nav from '~/components/layouts/Nav'


export default {

  name: 'Header',
  components: {HeaderTop, Nav, HeaderTitle},
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>