<template>
  <div class='h-50 flex justify-center items-end'>
      <h1 class='w-min-300 h-60 is-size-1 bold px-5 flex justify-center text-purple-dark'>
          {{ pageTitle }}
      </h1>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {

  name: 'HeaderTitle',
   computed:{

    ...mapState({

         pageTitle            : state => state.pageTitle,
         
      })
  },
}
</script>

<style lang="css" scoped>
</style>