<template>
  <div class='flex justify-center animated fadeInUp'>
      <div class='h-50 flex justify-center w-1200 px-5'>
      
      <nuxt-link to='/' >
        <img src='/suawhite.png' class='h-50'>
      </nuxt-link>
      
     <!--  <div>
          Hi Salman
      </div> -->
     
  </div>
  </div>
  
</template>

<script>
export default {

  name: 'HeaderTop',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>

background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
</style>