<template>
  <div class='h-50  flex justify-center items-center' v-if='email_auth || social_auth'>

      <div class='nav text-blue-darkest bold mr-3 clickable' 
      :class=" $route.path =='/candidates'? 'bg-white p-2 border-radius-20' : ''"
      @click="navAccessMustActive('candidates')" 
      >CALON - CALON

      </div>

      <div class='nav text-blue-darkest bold mr-3 clickable'
       :class=" $route.path =='/bookmarks'? 'bg-white p-2 border-radius-20' : ''"
       @click="navAccess('bookmarks')">CALON PILIHAN
      </div>

      <div class='nav text-blue-darkest bold mr-3 clickable' 
        :class=" $route.path =='/notifications'? 'bg-white p-2 border-radius-20' : ''"
        @click="navAccess('notifications')">PETI SURAT
      </div>
      
      <nuxt-link class='nav text-blue-darkest bold mr-3' 
          :class=" $route.path =='/profile'? 'bg-white p-2 border-radius-20' : ''"
         to='/profile'>PROFIL
       </nuxt-link>

      
  </div>
</template>

<script>
import {mapState} from 'vuex'
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'Nav',
  components: {ModalAlert},
  data(){
    return {
      extraNote : "Lengkapkan profil anda sebelum dapat ke halaman ini "
    }
  },
  computed: {
      ...mapState({
          email_auth: state => state.auth.email_auth,
          social_auth: state => state.auth.social_auth,
          profile   : state => state.auth.profile,
      })
  },
  methods:{

    

    navAccess(routeName){

      if(this.profile.is_profile_completed ){
        this.$router.push(`/${routeName}`)
      }else{
        
        this.$modal.show(ModalAlert, 
        { note: "Maaf", status : 'error', extra : this.extraNote },
        {height : "auto" ,width : "400px" })
        
      }


    },

    navAccessMustActive(routeName){

        if(this.profile.is_profile_completed && this.profile.is_active){
          
          this.$router.push(`/${routeName}`)

        }else if(this.profile.is_profile_completed && !this.profile.is_active){

            this.$modal.show(ModalAlert, 
        { note: "Maaf", status : 'error', extra : "Akses tidak dibenarkan kerana profil tidak aktif" },
        {height : "auto" ,width : "400px" })


        }else{
        
        this.$modal.show(ModalAlert, 
        { note: "Maaf", status : 'error', extra : this.extraNote },
        {height : "auto" ,width : "400px" })
        
      }
    }


  }
}
</script>

<style lang="css" scoped>
</style>