<template>
	<div
		class="position-fixed position-bottom-left h-bottom-bar flex justify-around items-center bg-grey-light p-3 z-index-100 w-100pc"
		v-if="email_auth || social_auth"
	>
		<div
			class="nav has-text-centered text-blue-darkest bold mr-3 clickable flex flex-col flex-center line-height-1"
			:class="
				$route.path == '/candidates'
					? 'bg-white p-2 border-radius-10'
					: ''
			"
			@click="navAccessMustActive('candidates')"
		>
			<img src="/svg/candidates-grey.svg" class="h-30" />
			<!-- <span class="text-grey-dark is-small">CALON</span> -->
		</div>

		<div
			class="nav text-blue-darkest bold mr-3 clickable flex flex-col flex-center line-height-1"
			:class="
				$route.path == '/bookmarks'
					? 'bg-white p-2 border-radius-10'
					: ''
			"
			@click="navAccess('bookmarks')"
		>
			<img src="/svg/bookmark_love-grey.svg" class="h-30" />
			<!-- <span class="text-grey-dark is-small">PILIHAN</span> -->
		</div>

		<div
			class="nav text-blue-darkest bold mr-3 clickable flex flex-col flex-center line-height-1"
			:class="burger_menu ? 'bg-white p-2 border-radius-10' : ''"
			@click="toggleBurgerMenu()"
		>
			<img src="/svg/burger.svg" class="h-30" />
			<!-- <span class="text-grey-dark is-small">MORE</span> -->
		</div>

		<div
			class="nav text-blue-darkest bold mr-3 clickable flex flex-col flex-center line-height-1 position-relative"
			:class="
				$route.path == '/notifications'
					? 'bg-white p-2 border-radius-10'
					: ''
			"
			@click="navAccess('notifications')"
		>
			<img src="/svg/letter-grey.svg" class="h-30" />
			<!-- <span class="text-grey-dark is-small">NOTIFIKASI</span> -->
			<span
				class="position-absolute p-2 is-small bg-red text-white border-radius-10"
				v-if="count_unread_all > 0"
				style="top:-10px; right:-5px"
			>{{ count_unread_all }}</span>
		</div>

		<nuxt-link
			class="nav text-blue-darkest bold flex flex-col flex-center line-height-1"
			:class="
				$route.path == '/profile' ? 'bg-white p-2 border-radius-10' : ''
			"
			to="/profile"
		>
			<img src="/svg/me-grey.svg" class="h-30" />
			<!-- <span class="text-grey-dark is-small">PROFIL</span> -->
		</nuxt-link>
	</div>
</template>

<script>
	import { mapState } from "vuex"
	import ModalAlert from "~/components/helpers/ModalAlert"
	export default {
		name: "Nav",
		components: { ModalAlert },
		data() {
			return {
				extraNote: "Lengkapkan profil anda sebelum dapat ke halaman ini "
			}
		},
		computed: {
			...mapState({
				burger_menu: state => state.burger_menu,
				email_auth: state => state.auth.email_auth,
				social_auth: state => state.auth.social_auth,
				profile: state => state.auth.profile,
				count_unread_all: state => state.notifications.count_unread_all
			})
		},

		created() {
			this.$store.dispatch("notifications/COUNT_UNREAD_ALL")
		},
		methods: {
			toggleBurgerMenu() {
				this.$store.commit("TOGGLE_burger_menu")
			},
			navAccess(routeName) {
				if (this.profile.is_profile_completed) {
					this.$router.push(`/${routeName}`)
				} else {
					this.$modal.show(
						ModalAlert,
						{ note: "Maaf", status: "error", extra: this.extraNote },
						{ height: "auto", width: "400px" }
					)
				}
			},

			navAccessMustActive(routeName) {
				if (this.profile.is_profile_completed && this.profile.is_active) {
					this.$router.push(`/${routeName}`)
				} else if (
					this.profile.is_profile_completed &&
					!this.profile.is_active
				) {
					this.$modal.show(
						ModalAlert,
						{
							note: "Maaf",
							status: "error",
							extra:
								"Akses tidak dibenarkan kerana profil tidak aktif"
						},
						{ height: "auto", width: "400px" }
					)
				} else {
					this.$modal.show(
						ModalAlert,
						{ note: "Maaf", status: "error", extra: this.extraNote },
						{ height: "auto", width: "400px" }
					)
				}
			}
		}
	}
</script>

<style lang="css" scoped></style>
