<template>
<div class='w-500 w-100pc-mobile' v-if="notification.type=='salam'">
 <div class='h-min-300  bg-white border-radius-10 m-2 p-5 flex flex-col' >

        <span class='text-grey-dark  is-small pb-3'>{{notification.created_at_alt}}</span>

        <span>{{notification.candidate_manage.user.nickname}} Beri Salam 👋 Kepada Anda</span>

        
   </div>

   <div class='flex m-2 ' >

          <div class='flex flex-col flex-center flex-1 has-text-centered bg-white is-small mr-1 w-100 p-2 border-radius-10' @click='gotoCandidate(notification.candidate_manage.user.code)'>
            
            <img src='/svg/info.svg' class='w-30'>
            <span> Profile {{notification.candidate_manage.user.nickname}}</span>
          </div>

          <div class='flex flex-col flex-center flex-1  has-text-centered bg-green is-small mr-1 p-2 border-radius-10 text-white'
            @click='giveSalamAction(notification.candidate_manage.user.id)'
            >
            <img src='/img/salam.png' class='w-30'>
            <span>Balas Salam</span>
          </div>

          <div class='flex flex-col flex-center flex-1  has-text-centered  bg-purple is-link is-small p-2 border-radius-10 text-white'
            @click='writeLetterPage(notification.candidate_manage.user)'>
            <img src='/img/letter-write.png' class='w-30'>
            <span>Hantar Surat</span>
          </div>

    </div>

    

</div>

</template>

<script>
import ModalSuccess from '~/components/modals/Success'
export default {

  name: 'DetailSalam',
  props : ['notification'],

  data () {
    return {

    }
  },
  methods:{

    gotoCandidate(code){
      this.$router.push('/candidates/'+code)
    },

    writeLetterPage(candidate){

      this.$store.commit('inbox_letters/UPDATE_CANDIDATE', candidate)
      //redirected 
      this.$router.push('/inbox_letters/create')

    },
    giveSalamAction(id){

      this.$store.commit('candidate_manage/UPDATE_IS_SALAM',true)
      this.$store.dispatch('candidate_manage/ACTION_GIVE_SALAM', id)
      .then( (res) => 
          //delay 2 second to finish animation
          setTimeout(this.callbackIsSalam(), 700)
      )
      .then((res)=>{

        this.$modal.show(ModalSuccess, 
          { note: "Salam Disampaikan", extra : ".."},
          { height : "auto" ,width : "400px" })

      })
      .catch((err) => {

          this.$modal.show(ModalSuccess, 
          { note: "Opps", status : 'error', extra : err},
          { height : "auto" ,width : "400px" })
      })
      .finally(()=>{
        this.$store.commit('candidate_manage/UPDATE_IS_SALAM',false)
      })

      
    },

    callbackIsSalam(){
        return () => {
          this.$store.commit('candidate_manage/UPDATE_IS_SALAM',false)
      }
    },
  }
}
</script>

<style lang="css" scoped>
</style>