<template>
 <div class='h-min-400 w-500 w-100pc-mobile bg-white border-radius-10 m-2 p-5 flex flex-col' 
 v-if="notification.type=='notification'">

         <span class='bold text-blue-dark'>{{ notification.notification.heading }}</span>
         <span class='text-grey  is-small pb-3'>{{notification.notification.created_at_alt}}</span>

          <span v-html='notification.notification.content' style='white-space: pre-wrap;'></span>


     
   </div>
</template>

<script>
export default {

  name: 'DetailNews',
  props : ['notification'],
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>