<template>
<div class='w-500 w-100pc-mobile' v-if="notification.type=='letter'">
 <div class='h-min-400   border-radius-10 m-2 p-5 flex flex-col' 
 :style="{
            'backgroundImage' : `url(${notification.inbox_letter.background.file_url})`
          }"
 >

        <span class='text-grey-dark  is-small pb-3'>{{notification.inbox_letter.created_at_alt}}</span>

        <span v-html='notification.inbox_letter.message' style='white-space: pre-wrap;'></span>

        
     
   </div>
   <div class='has-text-right m-2' v-if='!notification.is_sender'>

          <button class='button' @click='gotoCandidate(notification.inbox_letter.sender.code)'>
            Profile {{notification.inbox_letter.sender.nickname}}
          </button>

          <button class='button is-link'
            @click='writeLetterPage(notification.inbox_letter.sender)'>Balas Surat
          </button>

    </div>

    <div class='has-text-right m-2' v-if='notification.is_sender'>

          <button class='button' @click='gotoCandidate(notification.inbox_letter.receiver.code)'>
            Profile {{notification.inbox_letter.receiver.nickname}}
          </button>

          <button class='button is-link'
            @click='writeLetterPage(notification.inbox_letter.receiver)'>Hantar Surat
          </button>

    </div>

</div>

</template>

<script>
export default {

  name: 'DetailLetter',
  props : ['notification'],
  data () {
    return {

    }
  },
  methods:{
    
    gotoCandidate(code){
      this.$router.push('/candidates/'+code)
    },

    writeLetterPage(candidate){

      this.$store.commit('inbox_letters/UPDATE_CANDIDATE', candidate)
      //redirected 
      this.$router.push('/inbox_letters/create')

    },
  }
}
</script>

<style lang="css" scoped>
</style>