<template>
<div v-if="noty.type=='letter'  " class='flex position-relative clickable' @click='show(noty.id)'>

        
          <div class='mr-3'>
            
            <div class='border-radius-50 w-50 h-50 bg-size-cover bg-position-center'
            v-if='!noty.is_sender'
            :style="{
            'backgroundImage' : `url(${noty.inbox_letter.sender.avatar})`
            }"></div>

            <div class='border-radius-50 w-50 h-50 bg-size-cover bg-position-center'
            v-if='noty.is_sender'
            :style="{
            'backgroundImage' : `url(${noty.inbox_letter.receiver.avatar})`
            }"></div>

          </div>

          <div class='flex flex-col' >

            <span class='text-grey-darker bold' v-if='!noty.is_sender'>
              {{ noty.inbox_letter.sender.nickname }}</span>
           </span>

           <span class='text-grey-darker bold' v-else='noty.is_sender'>
              {{ noty.inbox_letter.receiver.nickname }}</span>
           </span>


            <span class='is-small text-grey-dark' v-if="noty.status=='read'">{{noty.inbox_letter.message | truncate(100)}}</span>
            <span class='is-small text-grey-dark' v-if="noty.status=='sent'">Klik untuk baca</span>

            <span class='is-small-x2 has-text-right position-absolute' style="bottom:-10px; right:-10px" >{{noty.inbox_letter.created_at_alt}}</span>

            <span class='tag is-danger position-absolute shadow is-small bold' style="top:-20px; left:-20px" 
            v-if="noty.status=='sent'">!</span>
          </div>

        </div>

</template>

<script>
export default {

  name: 'ListLetter',
  props : ['noty'],
  data () {
    return {

    }
  },
  methods:{

    show(id){
       this.$router.push(`/notifications/${id}`)
    },
    gotoCandidate(code){
      this.$router.push(`/candidates/${code}`)
    }
  }
}
</script>

<style lang="css" scoped>
</style>