<template>
<div v-if="noty.type=='salam'  " class='flex position-relative clickable' @click='show(noty.id)'>

          <div class='mr-3'>
            
            <div class='border-radius-50 w-50 h-50 bg-size-cover bg-position-center'
            :style="{
            'backgroundImage' : `url(${noty.candidate_manage.user.avatar})`
            }"></div>

          </div>

          <div class='flex flex-col' >

            <span class='text-grey-darker bold' >
              {{ noty.candidate_manage.user.nickname }}
           </span>

            <span class='is-small text-grey-dark'>
               {{ noty.candidate_manage.user.nickname }} 👋 Beri Salam Kepada Anda! Klik sini untuk balas salam atau hantar mesej jika anda sudi
            </span>

            <span class='is-small-x2 has-text-right position-absolute' style="bottom:-10px; right:-10px" >
             {{noty.created_at_alt}}</span>

            <span class='tag is-danger position-absolute shadow is-small bold' style="top:-20px; left:-20px" 
            v-if="noty.status=='sent'">!</span>
          </div>

        </div>

</template>

<script>
export default {

  name: 'ListSalam',
  props : ['noty'],
  data () {
    return {

    }
  },
  methods:{

    show(id){
       this.$router.push(`/notifications/${id}`)
    },
    gotoCandidate(code){
      this.$router.push(`/candidates/${code}`)
    }
  }
}
</script>

<style lang="css" scoped>
</style>