<template>
  <div v-if="noty.type=='notification'" class='flex flex-col position-relative' @click='show(noty.id)'>
          <span class='bold text-blue-dark'>{{ noty.notification.heading }}</span>

          <span class='is-small text-grey-dark'>{{noty.notification.content | truncate(200)}}</span>

          <span class='is-small-x2 has-text-right position-absolute' style="bottom:-10px; right:-10px">{{noty.notification.created_at_alt}}</span>

          <span class='tag is-danger position-absolute shadow is-small bold' style="top:-20px; left:-20px" 
          v-if="noty.status=='sent'">!</span>

        </div>
</template>

<script>
export default {

  name: 'ListNews',
  props : ['noty'],
  methods:{

    show(id){
       this.$router.push(`/notifications/${id}`)
    }
  }
}
</script>

<style lang="css" scoped>
</style>