<template>
	<div class="w-500 w-100pc-mobile flex is-small">
	  <div
			class="flex-1 p-2 has-text-centered border-radius-10 m-1 clickable"
			@click="changeType('')"
			:class="
				current_type == '' ? `bg-teal-dark text-white bold` : `bg-white`
			"
		>Terima</div>

		<div
			class="flex-1 p-2 has-text-centered border-radius-10 m-1 clickable line-height-1 flex flex-center"
			@click="changeType('letter')"
			:class="
				current_type == 'letter'
					? `bg-teal-dark text-white bold`
					: `bg-white`
			"
		>Surat</div>

		<div
			class="flex-1 bg-white p-2 has-text-centered border-radius-10 m-1 clickable line-height-1 flex flex-center"
			@click="changeType('notification')"
			:class="
				current_type == 'notification'
					? `bg-teal-dark text-white bold`
					: `bg-white`
			"
		>Berita/ Info</div>

		<div
			class="flex-1 bg-white p-2 has-text-centered border-radius-10 m-1 clickable line-height-1 flex flex-center"
			@click="changeType('salam')"
			:class="
				current_type == 'salam'
					? `bg-teal-dark text-white bold`
					: `bg-white`
			"
		>Salam</div>

		<div
			class="flex-1 bg-white p-2 has-text-centered border-radius-10 m-1 clickable line-height-1 flex flex-center"
			@click="changeType('own')"
			:class="
				current_type == 'own'
					? `bg-teal-dark text-white bold`
					: `bg-white`
			"
		>Surat Dihantar</div>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	export default {
		name: "Tab",
		computed: {
			...mapState({
				current_type: state => state.notifications.current_type
			})
		},
		methods: {
			parameters() {
				return {
					type: this.current_type,
					page: this.notifications_page,
					limit: 10
				};
			},

			changeType(type) {
				this.$store.commit("notifications/UPDATE_current_type", type);
				this.$store.commit("notifications/RESET_notifications_page");
				this.$store.commit(
					"notifications/UPDATE_notifications_load_more_status",
					true
				);

				this.$store.dispatch(
					"notifications/FETCH_NOTIFICATIONS_FRESH",
					this.parameters()
				);
			}
		}
	};
</script>

<style lang="css" scoped></style>
