<template>
<div class='container flex flex-center flex-col flex-wrap justify-center h-80vh'>

    <h3 class="title text-white">Pengesahan Akaun</h3>

    <div class="border-radius-10 bg-white text-black w-500 w-90pc-mobile p-3 has-text-centered mb-2 flex flex-col flex-center" 
      v-if="status=='success'">
           
           <img src='/svg/verified.svg' >       
           <!-- <span class='title'>{{ temporary_password }}</span>  -->

            <span class='text-black'>Tahniah akan anda telah disahkan. </span>
            <span class='text-black'>Sila klik button dibawah untuk teruskan login</span>
            <nuxt-link to='/login' class='button is-link w-200 mt-2'>Login</nuxt-link>
    </div>

    <div class="border-radius-10 bg-white text-black w-500 w-90pc-mobile p-3 has-text-centered mb-2 flex flex-col flex-center" 
      v-else>
           
           <img src='/svg/error.svg' class='h-50 mb-2'>       
           <!-- <span class='title'>{{ temporary_password }}</span>  -->

            <span class='text-black'>Akaun gagal disahkan </span>
          
    </div>

   

</div>

</template>

<script>
import ModalAlert from '~/components/helpers/ModalAlert'
export default {

  name: 'apitoken',
  components : {ModalAlert},
  data () {
    return {
      status : ''
    }
  },
  created(){

    this.$store.dispatch('auth/VERIFY_EMAIL', { api_token : this.$route.params.api_token})
    .then(res => this.status = 'success') 
    .catch(err => {
 
      this.$modal.show(ModalAlert, 
      { note: "Error", status : 'error', extra : err},
      {height : "auto" ,width : "400px" })

      
    })

  }
}
</script>

<style lang="css" scoped>
</style>