<template>
<div class="h-min-80vh container section flex flex-col flex-center has-text-centered">
      
      <h1 class='title text-white'>Selamat Datang! </h1>

      <p class='bg-white p-5 border-radius-20'>
          Langkah seterusnya, anda perlu mengesahkan email. <br/><br/>

          Sila semak didalam INBOX termasuk SPAM folder
      </p>
   
  </div>
</template>

<script>
export default {

  name: 'registered',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>